In [1]:
import pandas as pd
from afinn import Afinn
from nltk.corpus import stopwords
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
title = pd.read_csv("C:/Users/msi/PycharmProjects/stock_title.csv", engine='python', encoding = "utf-8")

In [3]:
title

,회사명,날짜,등락률,뉴스 타이틀
0,삼성전자,20190103,-3.06,"삼성전자, 기술전문가 名匠제도 신설"
1,삼성전자,20190103,-3.06,"삼성전자, 기술 전문가 육성 위한 '삼성명장' 제도 신설"
2,삼성전자,20190103,-3.06,2019년삼성전자시무식
3,삼성전자,20190103,-3.06,"삼성전자""초일류, 초격차 100년 기업 만들자"""
4,삼성전자,20190103,-3.06,삼성전자김기남 부회장 “초일류·초격차 100년 기업 도약하자”
...,...,...,...,...
7900,LG디스플레이,20221216,-3.73,"삼성, 애증의 ‘QD-OLED TV’ 내년 국내 출시"
7901,LG디스플레이,20221216,-3.73,[재송]14일 장 마감 후 주요 종목 뉴스
7902,LG디스플레이,20221216,-3.73,"[내 종목을 부탁해] 복잡한 계좌 해결 방법은? <두산에너빌리티>, <대원제약>..."
7903,LG디스플레이,20221216,-3.73,"삼성전자 여유자금 10.7조→3.9조, SK하이닉스 3.5조→―8500억"
7904,LG디스플레이,20221216,-3.73,"삼성 500억, SK·LG120억씩…재계, 연말 성금 800억원 돌파"

In [4]:
title['날짜'] = title['날짜'].astype(str)

In [5]:
def classify_size(size):
    if size >= 0:
        return 1
    else:
        return 0

In [6]:
title['Either'] = title['등락률'].apply(classify_size)

In [7]:
title

,회사명,날짜,등락률,뉴스 타이틀,Either
0,삼성전자,20190103,-3.06,"삼성전자, 기술전문가 名匠제도 신설",0
1,삼성전자,20190103,-3.06,"삼성전자, 기술 전문가 육성 위한 '삼성명장' 제도 신설",0
2,삼성전자,20190103,-3.06,2019년삼성전자시무식,0
3,삼성전자,20190103,-3.06,"삼성전자""초일류, 초격차 100년 기업 만들자""",0
4,삼성전자,20190103,-3.06,삼성전자김기남 부회장 “초일류·초격차 100년 기업 도약하자”,0
...,...,...,...,...,...
7900,LG디스플레이,20221216,-3.73,"삼성, 애증의 ‘QD-OLED TV’ 내년 국내 출시",0
7901,LG디스플레이,20221216,-3.73,[재송]14일 장 마감 후 주요 종목 뉴스,0
7902,LG디스플레이,20221216,-3.73,"[내 종목을 부탁해] 복잡한 계좌 해결 방법은? <두산에너빌리티>, <대원제약>...",0
7903,LG디스플레이,20221216,-3.73,"삼성전자 여유자금 10.7조→3.9조, SK하이닉스 3.5조→―8500억",0
7904,LG디스플레이,20221216,-3.73,"삼성 500억, SK·LG120억씩…재계, 연말 성금 800억원 돌파",0

In [8]:
title.drop('등락률', axis=1)

,회사명,날짜,뉴스 타이틀,Either
0,삼성전자,20190103,"삼성전자, 기술전문가 名匠제도 신설",0
1,삼성전자,20190103,"삼성전자, 기술 전문가 육성 위한 '삼성명장' 제도 신설",0
2,삼성전자,20190103,2019년삼성전자시무식,0
3,삼성전자,20190103,"삼성전자""초일류, 초격차 100년 기업 만들자""",0
4,삼성전자,20190103,삼성전자김기남 부회장 “초일류·초격차 100년 기업 도약하자”,0
...,...,...,...,...
7900,LG디스플레이,20221216,"삼성, 애증의 ‘QD-OLED TV’ 내년 국내 출시",0
7901,LG디스플레이,20221216,[재송]14일 장 마감 후 주요 종목 뉴스,0
7902,LG디스플레이,20221216,"[내 종목을 부탁해] 복잡한 계좌 해결 방법은? <두산에너빌리티>, <대원제약>...",0
7903,LG디스플레이,20221216,"삼성전자 여유자금 10.7조→3.9조, SK하이닉스 3.5조→―8500억",0
7904,LG디스플레이,20221216,"삼성 500억, SK·LG120억씩…재계, 연말 성금 800억원 돌파",0

In [9]:
fin  = pd.read_excel("final_fin.xlsx")

In [10]:
fin

,회사명,날짜,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,거래량,종가
0,삼성전자,2019.01.03,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800
1,삼성전자,2019.01.07,3.35,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1307934,18400
2,삼성전자,2019.01.09,3.79,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1830546,19000
3,삼성전자,2019.01.25,3.80,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,2055931,20300
4,삼성전자,2019.02.08,-3.12,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,965641,18850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,LG디스플레이,2022.11.11,7.14,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,3409680,15400
830,LG디스플레이,2022.11.14,-5.12,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,2298394,14650
831,LG디스플레이,2022.11.18,3.03,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,2393482,14850
832,LG디스플레이,2022.12.14,4.21,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1055419,14250
833,LG디스플레이,2022.12.16,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400

In [11]:
for i in range(len(fin['날짜'])):
    fin.날짜[i] = fin.날짜[i].replace('.', '')

C:\Users\msi\AppData\Local\Temp/ipykernel_24580/1467632090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin.날짜[i] = fin.날짜[i].replace('.', '')

In [12]:
fin['Either'] = fin['등락률'].apply(classify_size)

In [13]:
fin

,회사명,날짜,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,거래량,종가,Either
0,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0
1,삼성전자,20190107,3.35,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1307934,18400,1
2,삼성전자,20190109,3.79,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1830546,19000,1
3,삼성전자,20190125,3.80,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,2055931,20300,1
4,삼성전자,20190208,-3.12,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,965641,18850,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,LG디스플레이,20221111,7.14,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,3409680,15400,1
830,LG디스플레이,20221114,-5.12,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,2298394,14650,0
831,LG디스플레이,20221118,3.03,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,2393482,14850,1
832,LG디스플레이,20221214,4.21,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1055419,14250,1
833,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0

In [14]:
sum = pd.merge(fin, title, on=["회사명","날짜","등락률","Either"])

In [15]:
sum.rename(columns = {'뉴스 타이틀':'title'},inplace=True)

In [16]:
sum

,회사명,날짜,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,거래량,종가,Either,title
0,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0,"삼성전자, 기술전문가 名匠제도 신설"
1,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0,"삼성전자, 기술 전문가 육성 위한 '삼성명장' 제도 신설"
2,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0,2019년삼성전자시무식
3,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0,"삼성전자""초일류, 초격차 100년 기업 만들자"""
4,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0,삼성전자김기남 부회장 “초일류·초격차 100년 기업 도약하자”
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7900,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0,"삼성, 애증의 ‘QD-OLED TV’ 내년 국내 출시"
7901,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0,[재송]14일 장 마감 후 주요 종목 뉴스
7902,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0,"[내 종목을 부탁해] 복잡한 계좌 해결 방법은? <두산에너빌리티>, <대원제약>..."
7903,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0,"삼성전자 여유자금 10.7조→3.9조, SK하이닉스 3.5조→―8500억"
7904,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0,"삼성 500억, SK·LG120억씩…재계, 연말 성금 800억원 돌파"

In [146]:
main = fin.drop(['회사명', '날짜','Either','거래량','종가','등락률'], axis=1)

In [147]:
main # 5일 종가, 거래량만 x값으로 두고

,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량
0,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40
1,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05
2,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96
3,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01
4,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05
...,...,...,...,...,...,...,...,...,...,...
829,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31
830,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67
831,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32
832,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13
833,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23

In [148]:
x_main = main
y_main = fin['Either']

x_train_main, x_test_main, y_train_main, y_test_main = train_test_split(x_main, y_main,
                                                    stratify=y_main,
                                                    test_size=0.3)

In [88]:
x = sum['title']
y = sum['Either']

x_train_title, x_test_title, y_train_title, y_test_title = train_test_split(x, y,
                                                    stratify=y,
                                                    test_size=0.3)

In [149]:
print(x_train_main.shape, x_test_main.shape) # 훈련세트, 테스트세트 비율 확인
np.unique(y_train_main, return_counts=True) # 훈련세트의 타깃(라벨) 확인

(583, 10) (251, 10)

(array([0, 1], dtype=int64), array([280, 303], dtype=int64))

In [150]:
x_train_main

,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량
621,-0.06,-0.01,0.01,-0.01,0.02,-0.04,-0.30,-0.41,-0.17,0.38
313,-0.05,-0.06,0.00,-0.02,-0.01,0.76,0.05,-0.24,-0.08,-0.06
377,0.01,0.01,-0.01,-0.08,0.00,-0.18,0.08,-0.10,0.66,0.15
670,-0.01,0.01,-0.01,0.01,0.07,-0.16,-0.30,-0.05,0.61,1.62
505,0.01,-0.03,0.01,0.03,-0.01,0.15,-0.25,0.21,0.13,0.10
...,...,...,...,...,...,...,...,...,...,...
228,0.02,0.03,-0.01,0.01,0.00,-0.51,0.75,-0.20,0.01,0.05
211,-0.01,0.00,-0.04,-0.04,-0.06,-0.14,-0.13,0.29,-0.25,-0.06
290,-0.04,0.02,0.00,-0.02,0.00,0.81,-0.35,-0.25,0.25,-0.03
458,0.02,-0.04,-0.03,-0.01,-0.01,-0.45,0.91,-0.14,0.05,-0.24
478,0.01,0.04,-0.02,-0.01,0.03,0.95,0.34,-0.32,0.14,-0.08

In [91]:
x_test_main

,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량
360,3.61,0.03,0.06,0.00,0.02,0.01,0.34,2.08,-0.34,-0.32,-0.29
580,-3.08,-0.05,0.01,-0.05,0.02,0.00,0.28,-0.32,0.90,-0.42,-0.38
254,-4.07,0.00,0.00,0.00,0.00,0.02,-0.52,0.21,-0.28,0.63,0.24
68,3.97,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31
6,-3.66,0.05,0.00,0.00,0.01,0.01,2.04,-0.69,-0.13,-0.07,0.73
...,...,...,...,...,...,...,...,...,...,...,...
388,4.21,-0.01,0.00,-0.05,0.03,-0.02,-0.48,-0.05,-0.23,-0.19,0.03
494,3.66,0.00,0.02,0.01,0.03,0.01,0.06,0.05,0.06,0.96,-0.29
249,-6.42,-0.01,0.03,0.01,-0.02,0.01,-0.32,0.41,-0.34,-0.24,0.33
652,3.76,0.00,-0.02,0.02,-0.01,0.00,-0.41,0.05,-0.07,-0.35,-0.13
83,3.50,0.00,0.04,-0.02,0.06,-0.01,0.51,0.92,-0.24,0.30,-0.32

In [92]:
# title train set 불러옴?
print(x_train_title.shape, x_test_title.shape) # 훈련세트, 테스트세트 비율 확인
np.unique(y_train_title, return_counts=True) # 훈련세트의 타깃(라벨) 확인

(5533,) (2372,)

(array([0, 1], dtype=int64), array([2666, 2867], dtype=int64))

In [93]:
vect = TfidfVectorizer().fit(x_train_title)
x_train_vectorized = vect.transform(x_train_title)

x_train_vectorized

<5533x13069 sparse matrix of type '<class 'numpy.float64'>'
	with 38906 stored elements in Compressed Sparse Row format>

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [29]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
import xgboost as xgb

In [151]:
RFC = RandomForestClassifier()  # 거래, 종가 관련 모델


## Search grid for optimal parameters
rf_param_grid = {"max_depth": [None],
              "max_features": [3, 8, 8],
              "min_samples_split": [2, 3, 8],
              "min_samples_leaf": [1, 3, 8],
              "bootstrap": [False],
              "n_estimators" :[100,300],
              "criterion": ["gini"]}


gsRFC = GridSearchCV(RFC, rf_param_grid, scoring="accuracy",  verbose = 1)
#print(score)

gsRFC.fit(x_train_main,y_train_main)

RFC_best = gsRFC.best_estimator_

# Best score
gsRFC.best_score_

Fitting 5 folds for each of 54 candidates, totalling 270 fits

0.7272472737989979

In [152]:
RFC_best

RandomForestClassifier(bootstrap=False, max_features=3, min_samples_leaf=3,
                       min_samples_split=8)

In [153]:
GBC = GradientBoostingClassifier()    # 거래, 종가 관련 모델
gb_param_grid = {'loss' : ["deviance"],
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01],
              'max_depth': [4, 8],
              'min_samples_leaf': [100,150],
              'max_features': [0.3, 0.1]
              }

gsGBC = GridSearchCV(GBC,param_grid = gb_param_grid, scoring="accuracy", n_jobs= 4, verbose = 1)

gsGBC.fit(x_train_main,y_train_main)

GBC_best = gsGBC.best_estimator_

# Best score
gsGBC.best_score_

Fitting 5 folds for each of 72 candidates, totalling 360 fits

C:\Users\msi\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:310: FutureWarning: The loss parameter name 'deviance' was deprecated in v1.1 and will be removed in version 1.3. Use the new parameter name 'log_loss' which is equivalent.
  warnings.warn(

0.6516946654877689

In [154]:
### SVC classifier  - title로 만든 모델!?
SVMC = SVC(probability=True)
svc_param_grid = {'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
                  'gamma': [ 0.001, 0.01, 0.1, 1]
                  }

gsSVMC = GridSearchCV(SVMC,param_grid = svc_param_grid, scoring="accuracy", n_jobs= 4, verbose = 1)

gsSVMC.fit(x_train_vectorized,y_train_title)
SVMC_best = gsSVMC.best_estimator_

# Best score
gsSVMC.best_score_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

0.5834088841189798

In [155]:
votingC = VotingClassifier(estimators=[('rfc', RFC_best),   # 세가지 모델 합쳐서 voting models 이때는 SVCmodel은 필요가 없는건지???
('svc', SVMC_best),('gbc',GBC_best)], voting='soft', n_jobs=4)

votingC = votingC.fit(x_train_main, y_train_main)

In [156]:
print(votingC.score(x_train_main, y_train_main))

0.9468267581475128

In [157]:
print(votingC.score(x_test_main, y_test_main))

0.7051792828685259