In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup as bs

<h1> 각 회사 일자별 주가 획득

In [3]:
# 크롤링을 위한 headers
headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}

In [4]:
# lg디스플레이 데이터프레임 생성
lgdis = pd.DataFrame()
# 네이버 금융 url 불러오기
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=034220'
# 10페이지부터 159페이지까지 크롤링을 진행
for page in range(10, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    # 현재 얻은 데이터프레임을 기존 데이터프레임에 누적.
    lgdis = lgdis.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=034220&page=10
https://finance.naver.com/item/sise_day.nhn?code=034220&page=11
https://finance.naver.com/item/sise_day.nhn?code=034220&page=12
https://finance.naver.com/item/sise_day.nhn?code=034220&page=13
https://finance.naver.com/item/sise_day.nhn?code=034220&page=14
https://finance.naver.com/item/sise_day.nhn?code=034220&page=15
https://finance.naver.com/item/sise_day.nhn?code=034220&page=16
https://finance.naver.com/item/sise_day.nhn?code=034220&page=17
https://finance.naver.com/item/sise_day.nhn?code=034220&page=18
https://finance.naver.com/item/sise_day.nhn?code=034220&page=19
https://finance.naver.com/item/sise_day.nhn?code=034220&page=20
https://finance.naver.com/item/sise_day.nhn?code=034220&page=21
https://finance.naver.com/item/sise_day.nhn?code=034220&page=22
https://finance.naver.com/item/sise_day.nhn?code=034220&page=23
https://finance.naver.com/item/sise_day.nhn?code=034220&page=24
https://finance.naver.com/item/sise_day.nhn?code=034220&page=25
https://finance.naver.com/item/sise_day.nhn?code=034220&page=26
https://finance.naver.com/item/sise_day.nhn?code=034220&page=27
https://finance.naver.com/item/sise_day.nhn?code=034220&page=28
https://finance.naver.com/item/sise_day.nhn?code=034220&page=29
https://finance.naver.com/item/sise_day.nhn?code=034220&page=30
https://finance.naver.com/item/sise_day.nhn?code=034220&page=31
https://finance.naver.com/item/sise_day.nhn?code=034220&page=32
https://finance.naver.com/item/sise_day.nhn?code=034220&page=33
https://finance.naver.com/item/sise_day.nhn?code=034220&page=34
https://finance.naver.com/item/sise_day.nhn?code=034220&page=35
https://finance.naver.com/item/sise_day.nhn?code=034220&page=36
https://finance.naver.com/item/sise_day.nhn?code=034220&page=37
https://finance.naver.com/item/sise_day.nhn?code=034220&page=38
https://finance.naver.com/item/sise_day.nhn?code=034220&page=39
https://finance.naver.com/item/sise_day.nhn?code=034220&page=40
https://finance.naver.com/item/sise_day.nhn?code=034220&page=41
https://finance.naver.com/item/sise_day.nhn?code=034220&page=42
https://finance.naver.com/item/sise_day.nhn?code=034220&page=43
https://finance.naver.com/item/sise_day.nhn?code=034220&page=44
https://finance.naver.com/item/sise_day.nhn?code=034220&page=45
https://finance.naver.com/item/sise_day.nhn?code=034220&page=46
https://finance.naver.com/item/sise_day.nhn?code=034220&page=47
https://finance.naver.com/item/sise_day.nhn?code=034220&page=48
https://finance.naver.com/item/sise_day.nhn?code=034220&page=49
https://finance.naver.com/item/sise_day.nhn?code=034220&page=50
https://finance.naver.com/item/sise_day.nhn?code=034220&page=51
https://finance.naver.com/item/sise_day.nhn?code=034220&page=52
https://finance.naver.com/item/sise_day.nhn?code=034220&page=53
https://finance.naver.com/item/sise_day.nhn?code=034220&page=54
https://finance.naver.com/item/sise_day.nhn?code=034220&page=55
https://finance.naver.com/item/sise_day.nhn?code=034220&page=56
https://finance.naver.com/item/sise_day.nhn?code=034220&page=57
https://finance.naver.com/item/sise_day.nhn?code=034220&page=58
https://finance.naver.com/item/sise_day.nhn?code=034220&page=59
https://finance.naver.com/item/sise_day.nhn?code=034220&page=60
https://finance.naver.com/item/sise_day.nhn?code=034220&page=61
https://finance.naver.com/item/sise_day.nhn?code=034220&page=62
https://finance.naver.com/item/sise_day.nhn?code=034220&page=63
https://finance.naver.com/item/sise_day.nhn?code=034220&page=64
https://finance.naver.com/item/sise_day.nhn?code=034220&page=65
https://finance.naver.com/item/sise_day.nhn?code=034220&page=66
https://finance.naver.com/item/sise_day.nhn?code=034220&page=67
https://finance.naver.com/item/sise_day.nhn?code=034220&page=68
https://finance.naver.com/item/sise_day.nhn?code=034220&page=69
https://finance.naver.com/item/sise_day.nhn?code=034220&page=70
https://finance.naver.com/item/sise_day.nhn?code=034220&page=71
https://finance.naver.com/item/sise_day.nhn?code=034220&page=72
https://finance.naver.com/item/sise_day.nhn?code=034220&page=73
https://finance.naver.com/item/sise_day.nhn?code=034220&page=74
https://finance.naver.com/item/sise_day.nhn?code=034220&page=75
https://finance.naver.com/item/sise_day.nhn?code=034220&page=76
https://finance.naver.com/item/sise_day.nhn?code=034220&page=77
https://finance.naver.com/item/sise_day.nhn?code=034220&page=78
https://finance.naver.com/item/sise_day.nhn?code=034220&page=79
https://finance.naver.com/item/sise_day.nhn?code=034220&page=80
https://finance.naver.com/item/sise_day.nhn?code=034220&page=81
https://finance.naver.com/item/sise_day.nhn?code=034220&page=82
https://finance.naver.com/item/sise_day.nhn?code=034220&page=83
https://finance.naver.com/item/sise_day.nhn?code=034220&page=84
https://finance.naver.com/item/sise_day.nhn?code=034220&page=85
https://finance.naver.com/item/sise_day.nhn?code=034220&page=86
https://finance.naver.com/item/sise_day.nhn?code=034220&page=87
https://finance.naver.com/item/sise_day.nhn?code=034220&page=88
https://finance.naver.com/item/sise_day.nhn?code=034220&page=89
https://finance.naver.com/item/sise_day.nhn?code=034220&page=90
https://finance.naver.com/item/sise_day.nhn?code=034220&page=91
https://finance.naver.com/item/sise_day.nhn?code=034220&page=92
https://finance.naver.com/item/sise_day.nhn?code=034220&page=93
https://finance.naver.com/item/sise_day.nhn?code=034220&page=94
https://finance.naver.com/item/sise_day.nhn?code=034220&page=95
https://finance.naver.com/item/sise_day.nhn?code=034220&page=96
https://finance.naver.com/item/sise_day.nhn?code=034220&page=97
https://finance.naver.com/item/sise_day.nhn?code=034220&page=98
https://finance.naver.com/item/sise_day.nhn?code=034220&page=99
https://finance.naver.com/item/sise_day.nhn?code=034220&page=100
https://finance.naver.com/item/sise_day.nhn?code=034220&page=101
https://finance.naver.com/item/sise_day.nhn?code=034220&page=102
https://finance.naver.com/item/sise_day.nhn?code=034220&page=103
https://finance.naver.com/item/sise_day.nhn?code=034220&page=104
https://finance.naver.com/item/sise_day.nhn?code=034220&page=105
https://finance.naver.com/item/sise_day.nhn?code=034220&page=106
https://finance.naver.com/item/sise_day.nhn?code=034220&page=107
https://finance.naver.com/item/sise_day.nhn?code=034220&page=108
https://finance.naver.com/item/sise_day.nhn?code=034220&page=109
https://finance.naver.com/item/sise_day.nhn?code=034220&page=110
https://finance.naver.com/item/sise_day.nhn?code=034220&page=111
https://finance.naver.com/item/sise_day.nhn?code=034220&page=112
https://finance.naver.com/item/sise_day.nhn?code=034220&page=113
https://finance.naver.com/item/sise_day.nhn?code=034220&page=114
https://finance.naver.com/item/sise_day.nhn?code=034220&page=115
https://finance.naver.com/item/sise_day.nhn?code=034220&page=116
https://finance.naver.com/item/sise_day.nhn?code=034220&page=117
https://finance.naver.com/item/sise_day.nhn?code=034220&page=118
https://finance.naver.com/item/sise_day.nhn?code=034220&page=119
https://finance.naver.com/item/sise_day.nhn?code=034220&page=120
https://finance.naver.com/item/sise_day.nhn?code=034220&page=121
https://finance.naver.com/item/sise_day.nhn?code=034220&page=122
https://finance.naver.com/item/sise_day.nhn?code=034220&page=123
https://finance.naver.com/item/sise_day.nhn?code=034220&page=124
https://finance.naver.com/item/sise_day.nhn?code=034220&page=125
https://finance.naver.com/item/sise_day.nhn?code=034220&page=126
https://finance.naver.com/item/sise_day.nhn?code=034220&page=127
https://finance.naver.com/item/sise_day.nhn?code=034220&page=128
https://finance.naver.com/item/sise_day.nhn?code=034220&page=129
https://finance.naver.com/item/sise_day.nhn?code=034220&page=130
https://finance.naver.com/item/sise_day.nhn?code=034220&page=131
https://finance.naver.com/item/sise_day.nhn?code=034220&page=132
https://finance.naver.com/item/sise_day.nhn?code=034220&page=133
https://finance.naver.com/item/sise_day.nhn?code=034220&page=134
https://finance.naver.com/item/sise_day.nhn?code=034220&page=135
https://finance.naver.com/item/sise_day.nhn?code=034220&page=136
https://finance.naver.com/item/sise_day.nhn?code=034220&page=137
https://finance.naver.com/item/sise_day.nhn?code=034220&page=138
https://finance.naver.com/item/sise_day.nhn?code=034220&page=139
https://finance.naver.com/item/sise_day.nhn?code=034220&page=140
https://finance.naver.com/item/sise_day.nhn?code=034220&page=141
https://finance.naver.com/item/sise_day.nhn?code=034220&page=142
https://finance.naver.com/item/sise_day.nhn?code=034220&page=143
https://finance.naver.com/item/sise_day.nhn?code=034220&page=144
https://finance.naver.com/item/sise_day.nhn?code=034220&page=145
https://finance.naver.com/item/sise_day.nhn?code=034220&page=146
https://finance.naver.com/item/sise_day.nhn?code=034220&page=147
https://finance.naver.com/item/sise_day.nhn?code=034220&page=148
https://finance.naver.com/item/sise_day.nhn?code=034220&page=149
https://finance.naver.com/item/sise_day.nhn?code=034220&page=150
https://finance.naver.com/item/sise_day.nhn?code=034220&page=151
https://finance.naver.com/item/sise_day.nhn?code=034220&page=152
https://finance.naver.com/item/sise_day.nhn?code=034220&page=153
https://finance.naver.com/item/sise_day.nhn?code=034220&page=154
https://finance.naver.com/item/sise_day.nhn?code=034220&page=155
https://finance.naver.com/item/sise_day.nhn?code=034220&page=156
https://finance.naver.com/item/sise_day.nhn?code=034220&page=157
https://finance.naver.com/item/sise_day.nhn?code=034220&page=158

In [5]:
# 데이터 프레임 index가 크롤링 페이지에서 넘어온 그대로 삽입되어 reset 진행
lgdis = lgdis.reset_index(drop=True)

In [6]:
# 날짜 스타일 통일을 위해 xxxx.xx.xx에서 xxxxxxxx로 변경
for i in range(len(lgdis['날짜'])):
    lgdis.날짜[i] = lgdis.날짜[i].replace('.', '')

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/1531236787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lgdis.날짜[i] = lgdis.날짜[i].replace('.', '')

In [7]:
lgdis

            날짜       종가    전일비       시가       고가       저가        거래량
0     20230106  13250.0  250.0  12900.0  13500.0  12850.0  1120308.0
1     20230105  13000.0    0.0  13000.0  13150.0  12900.0  1003176.0
2     20230104  13000.0  400.0  12550.0  13250.0  12500.0  1483621.0
3     20230103  12600.0  100.0  12450.0  12700.0  12100.0  1351273.0
4     20230102  12500.0   50.0  12500.0  12550.0  12350.0   623019.0
...        ...      ...    ...      ...      ...      ...        ...
1485  20161222  31400.0  100.0  31900.0  32400.0  31350.0  1740187.0
1486  20161221  31500.0  950.0  30750.0  31900.0  30700.0  1753323.0
1487  20161220  30550.0   50.0  30550.0  30700.0  30250.0   721049.0
1488  20161219  30500.0  400.0  31200.0  31250.0  30350.0   968437.0
1489  20161216  30900.0   50.0  30800.0  31600.0  30650.0  1471576.0

[1490 rows x 7 columns]

In [8]:
# lg디스플레이 데이터 프레임에서 필요한 종가, 날짜만 남기고 전체 drop
lgdis = lgdis.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [9]:
# 회사명 칼럼 추가
lgdis['회사명'] = 'LG디스플레이'

In [10]:
# 최종적으로 필요한 날짜별 주가 데이터프레임 생성
lgdis

            날짜       종가      회사명
0     20230106  13250.0  LG디스플레이
1     20230105  13000.0  LG디스플레이
2     20230104  13000.0  LG디스플레이
3     20230103  12600.0  LG디스플레이
4     20230102  12500.0  LG디스플레이
...        ...      ...      ...
1485  20161222  31400.0  LG디스플레이
1486  20161221  31500.0  LG디스플레이
1487  20161220  30550.0  LG디스플레이
1488  20161219  30500.0  LG디스플레이
1489  20161216  30900.0  LG디스플레이

[1490 rows x 3 columns]

<h2>이후 각 회사별 주가 획득 과정은 위의 과정과 동일하여 주석 생략하고 진행하였습니다.

In [11]:
## 위의 lg 디스플레이와 동일한 과정으로 진행

samsungsdi = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=006400'
for page in range(10, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    samsungsdi = samsungsdi.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=006400&page=10
https://finance.naver.com/item/sise_day.nhn?code=006400&page=11
https://finance.naver.com/item/sise_day.nhn?code=006400&page=12
https://finance.naver.com/item/sise_day.nhn?code=006400&page=13
https://finance.naver.com/item/sise_day.nhn?code=006400&page=14
https://finance.naver.com/item/sise_day.nhn?code=006400&page=15
https://finance.naver.com/item/sise_day.nhn?code=006400&page=16
https://finance.naver.com/item/sise_day.nhn?code=006400&page=17
https://finance.naver.com/item/sise_day.nhn?code=006400&page=18
https://finance.naver.com/item/sise_day.nhn?code=006400&page=19
https://finance.naver.com/item/sise_day.nhn?code=006400&page=20
https://finance.naver.com/item/sise_day.nhn?code=006400&page=21
https://finance.naver.com/item/sise_day.nhn?code=006400&page=22
https://finance.naver.com/item/sise_day.nhn?code=006400&page=23
https://finance.naver.com/item/sise_day.nhn?code=006400&page=24
https://finance.naver.com/item/sise_day.nhn?code=006400&page=25
https://finance.naver.com/item/sise_day.nhn?code=006400&page=26
https://finance.naver.com/item/sise_day.nhn?code=006400&page=27
https://finance.naver.com/item/sise_day.nhn?code=006400&page=28
https://finance.naver.com/item/sise_day.nhn?code=006400&page=29
https://finance.naver.com/item/sise_day.nhn?code=006400&page=30
https://finance.naver.com/item/sise_day.nhn?code=006400&page=31
https://finance.naver.com/item/sise_day.nhn?code=006400&page=32
https://finance.naver.com/item/sise_day.nhn?code=006400&page=33
https://finance.naver.com/item/sise_day.nhn?code=006400&page=34
https://finance.naver.com/item/sise_day.nhn?code=006400&page=35
https://finance.naver.com/item/sise_day.nhn?code=006400&page=36
https://finance.naver.com/item/sise_day.nhn?code=006400&page=37
https://finance.naver.com/item/sise_day.nhn?code=006400&page=38
https://finance.naver.com/item/sise_day.nhn?code=006400&page=39
https://finance.naver.com/item/sise_day.nhn?code=006400&page=40
https://finance.naver.com/item/sise_day.nhn?code=006400&page=41
https://finance.naver.com/item/sise_day.nhn?code=006400&page=42
https://finance.naver.com/item/sise_day.nhn?code=006400&page=43
https://finance.naver.com/item/sise_day.nhn?code=006400&page=44
https://finance.naver.com/item/sise_day.nhn?code=006400&page=45
https://finance.naver.com/item/sise_day.nhn?code=006400&page=46
https://finance.naver.com/item/sise_day.nhn?code=006400&page=47
https://finance.naver.com/item/sise_day.nhn?code=006400&page=48
https://finance.naver.com/item/sise_day.nhn?code=006400&page=49
https://finance.naver.com/item/sise_day.nhn?code=006400&page=50
https://finance.naver.com/item/sise_day.nhn?code=006400&page=51
https://finance.naver.com/item/sise_day.nhn?code=006400&page=52
https://finance.naver.com/item/sise_day.nhn?code=006400&page=53
https://finance.naver.com/item/sise_day.nhn?code=006400&page=54
https://finance.naver.com/item/sise_day.nhn?code=006400&page=55
https://finance.naver.com/item/sise_day.nhn?code=006400&page=56
https://finance.naver.com/item/sise_day.nhn?code=006400&page=57
https://finance.naver.com/item/sise_day.nhn?code=006400&page=58
https://finance.naver.com/item/sise_day.nhn?code=006400&page=59
https://finance.naver.com/item/sise_day.nhn?code=006400&page=60
https://finance.naver.com/item/sise_day.nhn?code=006400&page=61
https://finance.naver.com/item/sise_day.nhn?code=006400&page=62
https://finance.naver.com/item/sise_day.nhn?code=006400&page=63
https://finance.naver.com/item/sise_day.nhn?code=006400&page=64
https://finance.naver.com/item/sise_day.nhn?code=006400&page=65
https://finance.naver.com/item/sise_day.nhn?code=006400&page=66
https://finance.naver.com/item/sise_day.nhn?code=006400&page=67
https://finance.naver.com/item/sise_day.nhn?code=006400&page=68
https://finance.naver.com/item/sise_day.nhn?code=006400&page=69
https://finance.naver.com/item/sise_day.nhn?code=006400&page=70
https://finance.naver.com/item/sise_day.nhn?code=006400&page=71
https://finance.naver.com/item/sise_day.nhn?code=006400&page=72
https://finance.naver.com/item/sise_day.nhn?code=006400&page=73
https://finance.naver.com/item/sise_day.nhn?code=006400&page=74
https://finance.naver.com/item/sise_day.nhn?code=006400&page=75
https://finance.naver.com/item/sise_day.nhn?code=006400&page=76
https://finance.naver.com/item/sise_day.nhn?code=006400&page=77
https://finance.naver.com/item/sise_day.nhn?code=006400&page=78
https://finance.naver.com/item/sise_day.nhn?code=006400&page=79
https://finance.naver.com/item/sise_day.nhn?code=006400&page=80
https://finance.naver.com/item/sise_day.nhn?code=006400&page=81
https://finance.naver.com/item/sise_day.nhn?code=006400&page=82
https://finance.naver.com/item/sise_day.nhn?code=006400&page=83
https://finance.naver.com/item/sise_day.nhn?code=006400&page=84
https://finance.naver.com/item/sise_day.nhn?code=006400&page=85
https://finance.naver.com/item/sise_day.nhn?code=006400&page=86
https://finance.naver.com/item/sise_day.nhn?code=006400&page=87
https://finance.naver.com/item/sise_day.nhn?code=006400&page=88
https://finance.naver.com/item/sise_day.nhn?code=006400&page=89
https://finance.naver.com/item/sise_day.nhn?code=006400&page=90
https://finance.naver.com/item/sise_day.nhn?code=006400&page=91
https://finance.naver.com/item/sise_day.nhn?code=006400&page=92
https://finance.naver.com/item/sise_day.nhn?code=006400&page=93
https://finance.naver.com/item/sise_day.nhn?code=006400&page=94
https://finance.naver.com/item/sise_day.nhn?code=006400&page=95
https://finance.naver.com/item/sise_day.nhn?code=006400&page=96
https://finance.naver.com/item/sise_day.nhn?code=006400&page=97
https://finance.naver.com/item/sise_day.nhn?code=006400&page=98
https://finance.naver.com/item/sise_day.nhn?code=006400&page=99
https://finance.naver.com/item/sise_day.nhn?code=006400&page=100
https://finance.naver.com/item/sise_day.nhn?code=006400&page=101
https://finance.naver.com/item/sise_day.nhn?code=006400&page=102
https://finance.naver.com/item/sise_day.nhn?code=006400&page=103
https://finance.naver.com/item/sise_day.nhn?code=006400&page=104
https://finance.naver.com/item/sise_day.nhn?code=006400&page=105
https://finance.naver.com/item/sise_day.nhn?code=006400&page=106
https://finance.naver.com/item/sise_day.nhn?code=006400&page=107
https://finance.naver.com/item/sise_day.nhn?code=006400&page=108
https://finance.naver.com/item/sise_day.nhn?code=006400&page=109
https://finance.naver.com/item/sise_day.nhn?code=006400&page=110
https://finance.naver.com/item/sise_day.nhn?code=006400&page=111
https://finance.naver.com/item/sise_day.nhn?code=006400&page=112
https://finance.naver.com/item/sise_day.nhn?code=006400&page=113
https://finance.naver.com/item/sise_day.nhn?code=006400&page=114
https://finance.naver.com/item/sise_day.nhn?code=006400&page=115
https://finance.naver.com/item/sise_day.nhn?code=006400&page=116
https://finance.naver.com/item/sise_day.nhn?code=006400&page=117
https://finance.naver.com/item/sise_day.nhn?code=006400&page=118
https://finance.naver.com/item/sise_day.nhn?code=006400&page=119
https://finance.naver.com/item/sise_day.nhn?code=006400&page=120
https://finance.naver.com/item/sise_day.nhn?code=006400&page=121
https://finance.naver.com/item/sise_day.nhn?code=006400&page=122
https://finance.naver.com/item/sise_day.nhn?code=006400&page=123
https://finance.naver.com/item/sise_day.nhn?code=006400&page=124
https://finance.naver.com/item/sise_day.nhn?code=006400&page=125
https://finance.naver.com/item/sise_day.nhn?code=006400&page=126
https://finance.naver.com/item/sise_day.nhn?code=006400&page=127
https://finance.naver.com/item/sise_day.nhn?code=006400&page=128
https://finance.naver.com/item/sise_day.nhn?code=006400&page=129
https://finance.naver.com/item/sise_day.nhn?code=006400&page=130
https://finance.naver.com/item/sise_day.nhn?code=006400&page=131
https://finance.naver.com/item/sise_day.nhn?code=006400&page=132
https://finance.naver.com/item/sise_day.nhn?code=006400&page=133
https://finance.naver.com/item/sise_day.nhn?code=006400&page=134
https://finance.naver.com/item/sise_day.nhn?code=006400&page=135
https://finance.naver.com/item/sise_day.nhn?code=006400&page=136
https://finance.naver.com/item/sise_day.nhn?code=006400&page=137
https://finance.naver.com/item/sise_day.nhn?code=006400&page=138
https://finance.naver.com/item/sise_day.nhn?code=006400&page=139
https://finance.naver.com/item/sise_day.nhn?code=006400&page=140
https://finance.naver.com/item/sise_day.nhn?code=006400&page=141
https://finance.naver.com/item/sise_day.nhn?code=006400&page=142
https://finance.naver.com/item/sise_day.nhn?code=006400&page=143
https://finance.naver.com/item/sise_day.nhn?code=006400&page=144
https://finance.naver.com/item/sise_day.nhn?code=006400&page=145
https://finance.naver.com/item/sise_day.nhn?code=006400&page=146
https://finance.naver.com/item/sise_day.nhn?code=006400&page=147
https://finance.naver.com/item/sise_day.nhn?code=006400&page=148
https://finance.naver.com/item/sise_day.nhn?code=006400&page=149
https://finance.naver.com/item/sise_day.nhn?code=006400&page=150
https://finance.naver.com/item/sise_day.nhn?code=006400&page=151
https://finance.naver.com/item/sise_day.nhn?code=006400&page=152
https://finance.naver.com/item/sise_day.nhn?code=006400&page=153
https://finance.naver.com/item/sise_day.nhn?code=006400&page=154
https://finance.naver.com/item/sise_day.nhn?code=006400&page=155
https://finance.naver.com/item/sise_day.nhn?code=006400&page=156
https://finance.naver.com/item/sise_day.nhn?code=006400&page=157
https://finance.naver.com/item/sise_day.nhn?code=006400&page=158

In [12]:
samsungsdi = samsungsdi.reset_index(drop=True)
for i in range(len(samsungsdi['날짜'])):
    samsungsdi.날짜[i] = samsungsdi.날짜[i].replace('.', '')
samsungsdi['회사명'] = '삼성SDI'

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/1855556086.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samsungsdi.날짜[i] = samsungsdi.날짜[i].replace('.', '')

In [13]:
samsungsdi

,날짜,종가,전일비,시가,고가,저가,거래량,회사명
0,20230106,586000.0,3000.0,578000.0,594000.0,574000.0,224115.0,삼성SDI
1,20230105,583000.0,20000.0,612000.0,612000.0,582000.0,367433.0,삼성SDI
2,20230104,603000.0,2000.0,596000.0,606000.0,581000.0,223659.0,삼성SDI
3,20230103,605000.0,3000.0,613000.0,618000.0,596000.0,203771.0,삼성SDI
4,20230102,602000.0,11000.0,597000.0,616000.0,597000.0,142102.0,삼성SDI
...,...,...,...,...,...,...,...,...
1485,20161222,106500.0,1500.0,107000.0,108000.0,105500.0,235751.0,삼성SDI
1486,20161221,108000.0,2000.0,109500.0,110500.0,107000.0,357406.0,삼성SDI
1487,20161220,110000.0,2500.0,107500.0,111000.0,106500.0,432729.0,삼성SDI
1488,20161219,107500.0,3500.0,103500.0,108000.0,103500.0,483287.0,삼성SDI
1489,20161216,104000.0,2000.0,101500.0,104500.0,100500.0,452672.0,삼성SDI

In [14]:
samsungsdi = samsungsdi.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [15]:
samsungsdi

            날짜        종가    회사명
0     20230106  586000.0  삼성SDI
1     20230105  583000.0  삼성SDI
2     20230104  603000.0  삼성SDI
3     20230103  605000.0  삼성SDI
4     20230102  602000.0  삼성SDI
...        ...       ...    ...
1485  20161222  106500.0  삼성SDI
1486  20161221  108000.0  삼성SDI
1487  20161220  110000.0  삼성SDI
1488  20161219  107500.0  삼성SDI
1489  20161216  104000.0  삼성SDI

[1490 rows x 3 columns]

In [16]:
samsungelc = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=005930'
for page in range(10, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    samsungelc = samsungelc.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=005930&page=10
https://finance.naver.com/item/sise_day.nhn?code=005930&page=11
https://finance.naver.com/item/sise_day.nhn?code=005930&page=12
https://finance.naver.com/item/sise_day.nhn?code=005930&page=13
https://finance.naver.com/item/sise_day.nhn?code=005930&page=14
https://finance.naver.com/item/sise_day.nhn?code=005930&page=15
https://finance.naver.com/item/sise_day.nhn?code=005930&page=16
https://finance.naver.com/item/sise_day.nhn?code=005930&page=17
https://finance.naver.com/item/sise_day.nhn?code=005930&page=18
https://finance.naver.com/item/sise_day.nhn?code=005930&page=19
https://finance.naver.com/item/sise_day.nhn?code=005930&page=20
https://finance.naver.com/item/sise_day.nhn?code=005930&page=21
https://finance.naver.com/item/sise_day.nhn?code=005930&page=22
https://finance.naver.com/item/sise_day.nhn?code=005930&page=23
https://finance.naver.com/item/sise_day.nhn?code=005930&page=24
https://finance.naver.com/item/sise_day.nhn?code=005930&page=25
https://finance.naver.com/item/sise_day.nhn?code=005930&page=26
https://finance.naver.com/item/sise_day.nhn?code=005930&page=27
https://finance.naver.com/item/sise_day.nhn?code=005930&page=28
https://finance.naver.com/item/sise_day.nhn?code=005930&page=29
https://finance.naver.com/item/sise_day.nhn?code=005930&page=30
https://finance.naver.com/item/sise_day.nhn?code=005930&page=31
https://finance.naver.com/item/sise_day.nhn?code=005930&page=32
https://finance.naver.com/item/sise_day.nhn?code=005930&page=33
https://finance.naver.com/item/sise_day.nhn?code=005930&page=34
https://finance.naver.com/item/sise_day.nhn?code=005930&page=35
https://finance.naver.com/item/sise_day.nhn?code=005930&page=36
https://finance.naver.com/item/sise_day.nhn?code=005930&page=37
https://finance.naver.com/item/sise_day.nhn?code=005930&page=38
https://finance.naver.com/item/sise_day.nhn?code=005930&page=39
https://finance.naver.com/item/sise_day.nhn?code=005930&page=40
https://finance.naver.com/item/sise_day.nhn?code=005930&page=41
https://finance.naver.com/item/sise_day.nhn?code=005930&page=42
https://finance.naver.com/item/sise_day.nhn?code=005930&page=43
https://finance.naver.com/item/sise_day.nhn?code=005930&page=44
https://finance.naver.com/item/sise_day.nhn?code=005930&page=45
https://finance.naver.com/item/sise_day.nhn?code=005930&page=46
https://finance.naver.com/item/sise_day.nhn?code=005930&page=47
https://finance.naver.com/item/sise_day.nhn?code=005930&page=48
https://finance.naver.com/item/sise_day.nhn?code=005930&page=49
https://finance.naver.com/item/sise_day.nhn?code=005930&page=50
https://finance.naver.com/item/sise_day.nhn?code=005930&page=51
https://finance.naver.com/item/sise_day.nhn?code=005930&page=52
https://finance.naver.com/item/sise_day.nhn?code=005930&page=53
https://finance.naver.com/item/sise_day.nhn?code=005930&page=54
https://finance.naver.com/item/sise_day.nhn?code=005930&page=55
https://finance.naver.com/item/sise_day.nhn?code=005930&page=56
https://finance.naver.com/item/sise_day.nhn?code=005930&page=57
https://finance.naver.com/item/sise_day.nhn?code=005930&page=58
https://finance.naver.com/item/sise_day.nhn?code=005930&page=59
https://finance.naver.com/item/sise_day.nhn?code=005930&page=60
https://finance.naver.com/item/sise_day.nhn?code=005930&page=61
https://finance.naver.com/item/sise_day.nhn?code=005930&page=62
https://finance.naver.com/item/sise_day.nhn?code=005930&page=63
https://finance.naver.com/item/sise_day.nhn?code=005930&page=64
https://finance.naver.com/item/sise_day.nhn?code=005930&page=65
https://finance.naver.com/item/sise_day.nhn?code=005930&page=66
https://finance.naver.com/item/sise_day.nhn?code=005930&page=67
https://finance.naver.com/item/sise_day.nhn?code=005930&page=68
https://finance.naver.com/item/sise_day.nhn?code=005930&page=69
https://finance.naver.com/item/sise_day.nhn?code=005930&page=70
https://finance.naver.com/item/sise_day.nhn?code=005930&page=71
https://finance.naver.com/item/sise_day.nhn?code=005930&page=72
https://finance.naver.com/item/sise_day.nhn?code=005930&page=73
https://finance.naver.com/item/sise_day.nhn?code=005930&page=74
https://finance.naver.com/item/sise_day.nhn?code=005930&page=75
https://finance.naver.com/item/sise_day.nhn?code=005930&page=76
https://finance.naver.com/item/sise_day.nhn?code=005930&page=77
https://finance.naver.com/item/sise_day.nhn?code=005930&page=78
https://finance.naver.com/item/sise_day.nhn?code=005930&page=79
https://finance.naver.com/item/sise_day.nhn?code=005930&page=80
https://finance.naver.com/item/sise_day.nhn?code=005930&page=81
https://finance.naver.com/item/sise_day.nhn?code=005930&page=82
https://finance.naver.com/item/sise_day.nhn?code=005930&page=83
https://finance.naver.com/item/sise_day.nhn?code=005930&page=84
https://finance.naver.com/item/sise_day.nhn?code=005930&page=85
https://finance.naver.com/item/sise_day.nhn?code=005930&page=86
https://finance.naver.com/item/sise_day.nhn?code=005930&page=87
https://finance.naver.com/item/sise_day.nhn?code=005930&page=88
https://finance.naver.com/item/sise_day.nhn?code=005930&page=89
https://finance.naver.com/item/sise_day.nhn?code=005930&page=90
https://finance.naver.com/item/sise_day.nhn?code=005930&page=91
https://finance.naver.com/item/sise_day.nhn?code=005930&page=92
https://finance.naver.com/item/sise_day.nhn?code=005930&page=93
https://finance.naver.com/item/sise_day.nhn?code=005930&page=94
https://finance.naver.com/item/sise_day.nhn?code=005930&page=95
https://finance.naver.com/item/sise_day.nhn?code=005930&page=96
https://finance.naver.com/item/sise_day.nhn?code=005930&page=97
https://finance.naver.com/item/sise_day.nhn?code=005930&page=98
https://finance.naver.com/item/sise_day.nhn?code=005930&page=99
https://finance.naver.com/item/sise_day.nhn?code=005930&page=100
https://finance.naver.com/item/sise_day.nhn?code=005930&page=101
https://finance.naver.com/item/sise_day.nhn?code=005930&page=102
https://finance.naver.com/item/sise_day.nhn?code=005930&page=103
https://finance.naver.com/item/sise_day.nhn?code=005930&page=104
https://finance.naver.com/item/sise_day.nhn?code=005930&page=105
https://finance.naver.com/item/sise_day.nhn?code=005930&page=106
https://finance.naver.com/item/sise_day.nhn?code=005930&page=107
https://finance.naver.com/item/sise_day.nhn?code=005930&page=108
https://finance.naver.com/item/sise_day.nhn?code=005930&page=109
https://finance.naver.com/item/sise_day.nhn?code=005930&page=110
https://finance.naver.com/item/sise_day.nhn?code=005930&page=111
https://finance.naver.com/item/sise_day.nhn?code=005930&page=112
https://finance.naver.com/item/sise_day.nhn?code=005930&page=113
https://finance.naver.com/item/sise_day.nhn?code=005930&page=114
https://finance.naver.com/item/sise_day.nhn?code=005930&page=115
https://finance.naver.com/item/sise_day.nhn?code=005930&page=116
https://finance.naver.com/item/sise_day.nhn?code=005930&page=117
https://finance.naver.com/item/sise_day.nhn?code=005930&page=118
https://finance.naver.com/item/sise_day.nhn?code=005930&page=119
https://finance.naver.com/item/sise_day.nhn?code=005930&page=120
https://finance.naver.com/item/sise_day.nhn?code=005930&page=121
https://finance.naver.com/item/sise_day.nhn?code=005930&page=122
https://finance.naver.com/item/sise_day.nhn?code=005930&page=123
https://finance.naver.com/item/sise_day.nhn?code=005930&page=124
https://finance.naver.com/item/sise_day.nhn?code=005930&page=125
https://finance.naver.com/item/sise_day.nhn?code=005930&page=126
https://finance.naver.com/item/sise_day.nhn?code=005930&page=127
https://finance.naver.com/item/sise_day.nhn?code=005930&page=128
https://finance.naver.com/item/sise_day.nhn?code=005930&page=129
https://finance.naver.com/item/sise_day.nhn?code=005930&page=130
https://finance.naver.com/item/sise_day.nhn?code=005930&page=131
https://finance.naver.com/item/sise_day.nhn?code=005930&page=132
https://finance.naver.com/item/sise_day.nhn?code=005930&page=133
https://finance.naver.com/item/sise_day.nhn?code=005930&page=134
https://finance.naver.com/item/sise_day.nhn?code=005930&page=135
https://finance.naver.com/item/sise_day.nhn?code=005930&page=136
https://finance.naver.com/item/sise_day.nhn?code=005930&page=137
https://finance.naver.com/item/sise_day.nhn?code=005930&page=138
https://finance.naver.com/item/sise_day.nhn?code=005930&page=139
https://finance.naver.com/item/sise_day.nhn?code=005930&page=140
https://finance.naver.com/item/sise_day.nhn?code=005930&page=141
https://finance.naver.com/item/sise_day.nhn?code=005930&page=142
https://finance.naver.com/item/sise_day.nhn?code=005930&page=143
https://finance.naver.com/item/sise_day.nhn?code=005930&page=144
https://finance.naver.com/item/sise_day.nhn?code=005930&page=145
https://finance.naver.com/item/sise_day.nhn?code=005930&page=146
https://finance.naver.com/item/sise_day.nhn?code=005930&page=147
https://finance.naver.com/item/sise_day.nhn?code=005930&page=148
https://finance.naver.com/item/sise_day.nhn?code=005930&page=149
https://finance.naver.com/item/sise_day.nhn?code=005930&page=150
https://finance.naver.com/item/sise_day.nhn?code=005930&page=151
https://finance.naver.com/item/sise_day.nhn?code=005930&page=152
https://finance.naver.com/item/sise_day.nhn?code=005930&page=153
https://finance.naver.com/item/sise_day.nhn?code=005930&page=154
https://finance.naver.com/item/sise_day.nhn?code=005930&page=155
https://finance.naver.com/item/sise_day.nhn?code=005930&page=156
https://finance.naver.com/item/sise_day.nhn?code=005930&page=157
https://finance.naver.com/item/sise_day.nhn?code=005930&page=158

In [17]:
samsungelc = samsungelc.reset_index(drop=True)
for i in range(len(samsungelc['날짜'])):
    samsungelc.날짜[i] = samsungelc.날짜[i].replace('.', '')
samsungelc['회사명'] = '삼성전자'

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/135872709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samsungelc.날짜[i] = samsungelc.날짜[i].replace('.', '')

In [18]:
samsungelc = samsungelc.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [19]:
samsungelc

            날짜         종가   회사명
0     20230106    59000.0  삼성전자
1     20230105    58200.0  삼성전자
2     20230104    57800.0  삼성전자
3     20230103    55400.0  삼성전자
4     20230102    55500.0  삼성전자
...        ...        ...   ...
1485  20161222  1809000.0  삼성전자
1486  20161221  1805000.0  삼성전자
1487  20161220  1812000.0  삼성전자
1488  20161219  1795000.0  삼성전자
1489  20161216  1793000.0  삼성전자

[1490 rows x 3 columns]

In [20]:
samsungsds = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=018260'
for page in range(1, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    samsungsds = samsungsds.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=018260&page=1
https://finance.naver.com/item/sise_day.nhn?code=018260&page=2
https://finance.naver.com/item/sise_day.nhn?code=018260&page=3
https://finance.naver.com/item/sise_day.nhn?code=018260&page=4
https://finance.naver.com/item/sise_day.nhn?code=018260&page=5
https://finance.naver.com/item/sise_day.nhn?code=018260&page=6
https://finance.naver.com/item/sise_day.nhn?code=018260&page=7
https://finance.naver.com/item/sise_day.nhn?code=018260&page=8
https://finance.naver.com/item/sise_day.nhn?code=018260&page=9
https://finance.naver.com/item/sise_day.nhn?code=018260&page=10
https://finance.naver.com/item/sise_day.nhn?code=018260&page=11
https://finance.naver.com/item/sise_day.nhn?code=018260&page=12
https://finance.naver.com/item/sise_day.nhn?code=018260&page=13
https://finance.naver.com/item/sise_day.nhn?code=018260&page=14
https://finance.naver.com/item/sise_day.nhn?code=018260&page=15
https://finance.naver.com/item/sise_day.nhn?code=018260&page=16
https://finance.naver.com/item/sise_day.nhn?code=018260&page=17
https://finance.naver.com/item/sise_day.nhn?code=018260&page=18
https://finance.naver.com/item/sise_day.nhn?code=018260&page=19
https://finance.naver.com/item/sise_day.nhn?code=018260&page=20
https://finance.naver.com/item/sise_day.nhn?code=018260&page=21
https://finance.naver.com/item/sise_day.nhn?code=018260&page=22
https://finance.naver.com/item/sise_day.nhn?code=018260&page=23
https://finance.naver.com/item/sise_day.nhn?code=018260&page=24
https://finance.naver.com/item/sise_day.nhn?code=018260&page=25
https://finance.naver.com/item/sise_day.nhn?code=018260&page=26
https://finance.naver.com/item/sise_day.nhn?code=018260&page=27
https://finance.naver.com/item/sise_day.nhn?code=018260&page=28
https://finance.naver.com/item/sise_day.nhn?code=018260&page=29
https://finance.naver.com/item/sise_day.nhn?code=018260&page=30
https://finance.naver.com/item/sise_day.nhn?code=018260&page=31
https://finance.naver.com/item/sise_day.nhn?code=018260&page=32
https://finance.naver.com/item/sise_day.nhn?code=018260&page=33
https://finance.naver.com/item/sise_day.nhn?code=018260&page=34
https://finance.naver.com/item/sise_day.nhn?code=018260&page=35
https://finance.naver.com/item/sise_day.nhn?code=018260&page=36
https://finance.naver.com/item/sise_day.nhn?code=018260&page=37
https://finance.naver.com/item/sise_day.nhn?code=018260&page=38
https://finance.naver.com/item/sise_day.nhn?code=018260&page=39
https://finance.naver.com/item/sise_day.nhn?code=018260&page=40
https://finance.naver.com/item/sise_day.nhn?code=018260&page=41
https://finance.naver.com/item/sise_day.nhn?code=018260&page=42
https://finance.naver.com/item/sise_day.nhn?code=018260&page=43
https://finance.naver.com/item/sise_day.nhn?code=018260&page=44
https://finance.naver.com/item/sise_day.nhn?code=018260&page=45
https://finance.naver.com/item/sise_day.nhn?code=018260&page=46
https://finance.naver.com/item/sise_day.nhn?code=018260&page=47
https://finance.naver.com/item/sise_day.nhn?code=018260&page=48
https://finance.naver.com/item/sise_day.nhn?code=018260&page=49
https://finance.naver.com/item/sise_day.nhn?code=018260&page=50
https://finance.naver.com/item/sise_day.nhn?code=018260&page=51
https://finance.naver.com/item/sise_day.nhn?code=018260&page=52
https://finance.naver.com/item/sise_day.nhn?code=018260&page=53
https://finance.naver.com/item/sise_day.nhn?code=018260&page=54
https://finance.naver.com/item/sise_day.nhn?code=018260&page=55
https://finance.naver.com/item/sise_day.nhn?code=018260&page=56
https://finance.naver.com/item/sise_day.nhn?code=018260&page=57
https://finance.naver.com/item/sise_day.nhn?code=018260&page=58
https://finance.naver.com/item/sise_day.nhn?code=018260&page=59
https://finance.naver.com/item/sise_day.nhn?code=018260&page=60
https://finance.naver.com/item/sise_day.nhn?code=018260&page=61
https://finance.naver.com/item/sise_day.nhn?code=018260&page=62
https://finance.naver.com/item/sise_day.nhn?code=018260&page=63
https://finance.naver.com/item/sise_day.nhn?code=018260&page=64
https://finance.naver.com/item/sise_day.nhn?code=018260&page=65
https://finance.naver.com/item/sise_day.nhn?code=018260&page=66
https://finance.naver.com/item/sise_day.nhn?code=018260&page=67
https://finance.naver.com/item/sise_day.nhn?code=018260&page=68
https://finance.naver.com/item/sise_day.nhn?code=018260&page=69
https://finance.naver.com/item/sise_day.nhn?code=018260&page=70
https://finance.naver.com/item/sise_day.nhn?code=018260&page=71
https://finance.naver.com/item/sise_day.nhn?code=018260&page=72
https://finance.naver.com/item/sise_day.nhn?code=018260&page=73
https://finance.naver.com/item/sise_day.nhn?code=018260&page=74
https://finance.naver.com/item/sise_day.nhn?code=018260&page=75
https://finance.naver.com/item/sise_day.nhn?code=018260&page=76
https://finance.naver.com/item/sise_day.nhn?code=018260&page=77
https://finance.naver.com/item/sise_day.nhn?code=018260&page=78
https://finance.naver.com/item/sise_day.nhn?code=018260&page=79
https://finance.naver.com/item/sise_day.nhn?code=018260&page=80
https://finance.naver.com/item/sise_day.nhn?code=018260&page=81
https://finance.naver.com/item/sise_day.nhn?code=018260&page=82
https://finance.naver.com/item/sise_day.nhn?code=018260&page=83
https://finance.naver.com/item/sise_day.nhn?code=018260&page=84
https://finance.naver.com/item/sise_day.nhn?code=018260&page=85
https://finance.naver.com/item/sise_day.nhn?code=018260&page=86
https://finance.naver.com/item/sise_day.nhn?code=018260&page=87
https://finance.naver.com/item/sise_day.nhn?code=018260&page=88
https://finance.naver.com/item/sise_day.nhn?code=018260&page=89
https://finance.naver.com/item/sise_day.nhn?code=018260&page=90
https://finance.naver.com/item/sise_day.nhn?code=018260&page=91
https://finance.naver.com/item/sise_day.nhn?code=018260&page=92
https://finance.naver.com/item/sise_day.nhn?code=018260&page=93
https://finance.naver.com/item/sise_day.nhn?code=018260&page=94
https://finance.naver.com/item/sise_day.nhn?code=018260&page=95
https://finance.naver.com/item/sise_day.nhn?code=018260&page=96
https://finance.naver.com/item/sise_day.nhn?code=018260&page=97
https://finance.naver.com/item/sise_day.nhn?code=018260&page=98
https://finance.naver.com/item/sise_day.nhn?code=018260&page=99
https://finance.naver.com/item/sise_day.nhn?code=018260&page=100
https://finance.naver.com/item/sise_day.nhn?code=018260&page=101
https://finance.naver.com/item/sise_day.nhn?code=018260&page=102
https://finance.naver.com/item/sise_day.nhn?code=018260&page=103
https://finance.naver.com/item/sise_day.nhn?code=018260&page=104
https://finance.naver.com/item/sise_day.nhn?code=018260&page=105
https://finance.naver.com/item/sise_day.nhn?code=018260&page=106
https://finance.naver.com/item/sise_day.nhn?code=018260&page=107
https://finance.naver.com/item/sise_day.nhn?code=018260&page=108
https://finance.naver.com/item/sise_day.nhn?code=018260&page=109
https://finance.naver.com/item/sise_day.nhn?code=018260&page=110
https://finance.naver.com/item/sise_day.nhn?code=018260&page=111
https://finance.naver.com/item/sise_day.nhn?code=018260&page=112
https://finance.naver.com/item/sise_day.nhn?code=018260&page=113
https://finance.naver.com/item/sise_day.nhn?code=018260&page=114
https://finance.naver.com/item/sise_day.nhn?code=018260&page=115
https://finance.naver.com/item/sise_day.nhn?code=018260&page=116
https://finance.naver.com/item/sise_day.nhn?code=018260&page=117
https://finance.naver.com/item/sise_day.nhn?code=018260&page=118
https://finance.naver.com/item/sise_day.nhn?code=018260&page=119
https://finance.naver.com/item/sise_day.nhn?code=018260&page=120
https://finance.naver.com/item/sise_day.nhn?code=018260&page=121
https://finance.naver.com/item/sise_day.nhn?code=018260&page=122
https://finance.naver.com/item/sise_day.nhn?code=018260&page=123
https://finance.naver.com/item/sise_day.nhn?code=018260&page=124
https://finance.naver.com/item/sise_day.nhn?code=018260&page=125
https://finance.naver.com/item/sise_day.nhn?code=018260&page=126
https://finance.naver.com/item/sise_day.nhn?code=018260&page=127
https://finance.naver.com/item/sise_day.nhn?code=018260&page=128
https://finance.naver.com/item/sise_day.nhn?code=018260&page=129
https://finance.naver.com/item/sise_day.nhn?code=018260&page=130
https://finance.naver.com/item/sise_day.nhn?code=018260&page=131
https://finance.naver.com/item/sise_day.nhn?code=018260&page=132
https://finance.naver.com/item/sise_day.nhn?code=018260&page=133
https://finance.naver.com/item/sise_day.nhn?code=018260&page=134
https://finance.naver.com/item/sise_day.nhn?code=018260&page=135
https://finance.naver.com/item/sise_day.nhn?code=018260&page=136
https://finance.naver.com/item/sise_day.nhn?code=018260&page=137
https://finance.naver.com/item/sise_day.nhn?code=018260&page=138
https://finance.naver.com/item/sise_day.nhn?code=018260&page=139
https://finance.naver.com/item/sise_day.nhn?code=018260&page=140
https://finance.naver.com/item/sise_day.nhn?code=018260&page=141
https://finance.naver.com/item/sise_day.nhn?code=018260&page=142
https://finance.naver.com/item/sise_day.nhn?code=018260&page=143
https://finance.naver.com/item/sise_day.nhn?code=018260&page=144
https://finance.naver.com/item/sise_day.nhn?code=018260&page=145
https://finance.naver.com/item/sise_day.nhn?code=018260&page=146
https://finance.naver.com/item/sise_day.nhn?code=018260&page=147
https://finance.naver.com/item/sise_day.nhn?code=018260&page=148
https://finance.naver.com/item/sise_day.nhn?code=018260&page=149
https://finance.naver.com/item/sise_day.nhn?code=018260&page=150
https://finance.naver.com/item/sise_day.nhn?code=018260&page=151
https://finance.naver.com/item/sise_day.nhn?code=018260&page=152
https://finance.naver.com/item/sise_day.nhn?code=018260&page=153
https://finance.naver.com/item/sise_day.nhn?code=018260&page=154
https://finance.naver.com/item/sise_day.nhn?code=018260&page=155
https://finance.naver.com/item/sise_day.nhn?code=018260&page=156
https://finance.naver.com/item/sise_day.nhn?code=018260&page=157
https://finance.naver.com/item/sise_day.nhn?code=018260&page=158

In [21]:
samsungsds = samsungsds.reset_index(drop=True)
for i in range(len(samsungsds['날짜'])):
    samsungsds.날짜[i] = samsungsds.날짜[i].replace('.', '')
samsungsds['회사명'] = '삼성에스디에스'

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/3595981144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samsungsds.날짜[i] = samsungsds.날짜[i].replace('.', '')

In [22]:
samsungsds= samsungsds.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [23]:
samsungsds

            날짜        종가      회사명
0     20230519  121900.0  삼성에스디에스
1     20230518  119900.0  삼성에스디에스
2     20230517  118800.0  삼성에스디에스
3     20230516  116800.0  삼성에스디에스
4     20230515  117200.0  삼성에스디에스
...        ...       ...      ...
1575  20161222  137000.0  삼성에스디에스
1576  20161221  139500.0  삼성에스디에스
1577  20161220  132000.0  삼성에스디에스
1578  20161219  132500.0  삼성에스디에스
1579  20161216  133500.0  삼성에스디에스

[1580 rows x 3 columns]

In [24]:
lgelc = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=066570'
for page in range(10, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    lgelc = lgelc.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=066570&page=10
https://finance.naver.com/item/sise_day.nhn?code=066570&page=11
https://finance.naver.com/item/sise_day.nhn?code=066570&page=12
https://finance.naver.com/item/sise_day.nhn?code=066570&page=13
https://finance.naver.com/item/sise_day.nhn?code=066570&page=14
https://finance.naver.com/item/sise_day.nhn?code=066570&page=15
https://finance.naver.com/item/sise_day.nhn?code=066570&page=16
https://finance.naver.com/item/sise_day.nhn?code=066570&page=17
https://finance.naver.com/item/sise_day.nhn?code=066570&page=18
https://finance.naver.com/item/sise_day.nhn?code=066570&page=19
https://finance.naver.com/item/sise_day.nhn?code=066570&page=20
https://finance.naver.com/item/sise_day.nhn?code=066570&page=21
https://finance.naver.com/item/sise_day.nhn?code=066570&page=22
https://finance.naver.com/item/sise_day.nhn?code=066570&page=23
https://finance.naver.com/item/sise_day.nhn?code=066570&page=24
https://finance.naver.com/item/sise_day.nhn?code=066570&page=25
https://finance.naver.com/item/sise_day.nhn?code=066570&page=26
https://finance.naver.com/item/sise_day.nhn?code=066570&page=27
https://finance.naver.com/item/sise_day.nhn?code=066570&page=28
https://finance.naver.com/item/sise_day.nhn?code=066570&page=29
https://finance.naver.com/item/sise_day.nhn?code=066570&page=30
https://finance.naver.com/item/sise_day.nhn?code=066570&page=31
https://finance.naver.com/item/sise_day.nhn?code=066570&page=32
https://finance.naver.com/item/sise_day.nhn?code=066570&page=33
https://finance.naver.com/item/sise_day.nhn?code=066570&page=34
https://finance.naver.com/item/sise_day.nhn?code=066570&page=35
https://finance.naver.com/item/sise_day.nhn?code=066570&page=36
https://finance.naver.com/item/sise_day.nhn?code=066570&page=37
https://finance.naver.com/item/sise_day.nhn?code=066570&page=38
https://finance.naver.com/item/sise_day.nhn?code=066570&page=39
https://finance.naver.com/item/sise_day.nhn?code=066570&page=40
https://finance.naver.com/item/sise_day.nhn?code=066570&page=41
https://finance.naver.com/item/sise_day.nhn?code=066570&page=42
https://finance.naver.com/item/sise_day.nhn?code=066570&page=43
https://finance.naver.com/item/sise_day.nhn?code=066570&page=44
https://finance.naver.com/item/sise_day.nhn?code=066570&page=45
https://finance.naver.com/item/sise_day.nhn?code=066570&page=46
https://finance.naver.com/item/sise_day.nhn?code=066570&page=47
https://finance.naver.com/item/sise_day.nhn?code=066570&page=48
https://finance.naver.com/item/sise_day.nhn?code=066570&page=49
https://finance.naver.com/item/sise_day.nhn?code=066570&page=50
https://finance.naver.com/item/sise_day.nhn?code=066570&page=51
https://finance.naver.com/item/sise_day.nhn?code=066570&page=52
https://finance.naver.com/item/sise_day.nhn?code=066570&page=53
https://finance.naver.com/item/sise_day.nhn?code=066570&page=54
https://finance.naver.com/item/sise_day.nhn?code=066570&page=55
https://finance.naver.com/item/sise_day.nhn?code=066570&page=56
https://finance.naver.com/item/sise_day.nhn?code=066570&page=57
https://finance.naver.com/item/sise_day.nhn?code=066570&page=58
https://finance.naver.com/item/sise_day.nhn?code=066570&page=59
https://finance.naver.com/item/sise_day.nhn?code=066570&page=60
https://finance.naver.com/item/sise_day.nhn?code=066570&page=61
https://finance.naver.com/item/sise_day.nhn?code=066570&page=62
https://finance.naver.com/item/sise_day.nhn?code=066570&page=63
https://finance.naver.com/item/sise_day.nhn?code=066570&page=64
https://finance.naver.com/item/sise_day.nhn?code=066570&page=65
https://finance.naver.com/item/sise_day.nhn?code=066570&page=66
https://finance.naver.com/item/sise_day.nhn?code=066570&page=67
https://finance.naver.com/item/sise_day.nhn?code=066570&page=68
https://finance.naver.com/item/sise_day.nhn?code=066570&page=69
https://finance.naver.com/item/sise_day.nhn?code=066570&page=70
https://finance.naver.com/item/sise_day.nhn?code=066570&page=71
https://finance.naver.com/item/sise_day.nhn?code=066570&page=72
https://finance.naver.com/item/sise_day.nhn?code=066570&page=73
https://finance.naver.com/item/sise_day.nhn?code=066570&page=74
https://finance.naver.com/item/sise_day.nhn?code=066570&page=75
https://finance.naver.com/item/sise_day.nhn?code=066570&page=76
https://finance.naver.com/item/sise_day.nhn?code=066570&page=77
https://finance.naver.com/item/sise_day.nhn?code=066570&page=78
https://finance.naver.com/item/sise_day.nhn?code=066570&page=79
https://finance.naver.com/item/sise_day.nhn?code=066570&page=80
https://finance.naver.com/item/sise_day.nhn?code=066570&page=81
https://finance.naver.com/item/sise_day.nhn?code=066570&page=82
https://finance.naver.com/item/sise_day.nhn?code=066570&page=83
https://finance.naver.com/item/sise_day.nhn?code=066570&page=84
https://finance.naver.com/item/sise_day.nhn?code=066570&page=85
https://finance.naver.com/item/sise_day.nhn?code=066570&page=86
https://finance.naver.com/item/sise_day.nhn?code=066570&page=87
https://finance.naver.com/item/sise_day.nhn?code=066570&page=88
https://finance.naver.com/item/sise_day.nhn?code=066570&page=89
https://finance.naver.com/item/sise_day.nhn?code=066570&page=90
https://finance.naver.com/item/sise_day.nhn?code=066570&page=91
https://finance.naver.com/item/sise_day.nhn?code=066570&page=92
https://finance.naver.com/item/sise_day.nhn?code=066570&page=93
https://finance.naver.com/item/sise_day.nhn?code=066570&page=94
https://finance.naver.com/item/sise_day.nhn?code=066570&page=95
https://finance.naver.com/item/sise_day.nhn?code=066570&page=96
https://finance.naver.com/item/sise_day.nhn?code=066570&page=97
https://finance.naver.com/item/sise_day.nhn?code=066570&page=98
https://finance.naver.com/item/sise_day.nhn?code=066570&page=99
https://finance.naver.com/item/sise_day.nhn?code=066570&page=100
https://finance.naver.com/item/sise_day.nhn?code=066570&page=101
https://finance.naver.com/item/sise_day.nhn?code=066570&page=102
https://finance.naver.com/item/sise_day.nhn?code=066570&page=103
https://finance.naver.com/item/sise_day.nhn?code=066570&page=104
https://finance.naver.com/item/sise_day.nhn?code=066570&page=105
https://finance.naver.com/item/sise_day.nhn?code=066570&page=106
https://finance.naver.com/item/sise_day.nhn?code=066570&page=107
https://finance.naver.com/item/sise_day.nhn?code=066570&page=108
https://finance.naver.com/item/sise_day.nhn?code=066570&page=109
https://finance.naver.com/item/sise_day.nhn?code=066570&page=110
https://finance.naver.com/item/sise_day.nhn?code=066570&page=111
https://finance.naver.com/item/sise_day.nhn?code=066570&page=112
https://finance.naver.com/item/sise_day.nhn?code=066570&page=113
https://finance.naver.com/item/sise_day.nhn?code=066570&page=114
https://finance.naver.com/item/sise_day.nhn?code=066570&page=115
https://finance.naver.com/item/sise_day.nhn?code=066570&page=116
https://finance.naver.com/item/sise_day.nhn?code=066570&page=117
https://finance.naver.com/item/sise_day.nhn?code=066570&page=118
https://finance.naver.com/item/sise_day.nhn?code=066570&page=119
https://finance.naver.com/item/sise_day.nhn?code=066570&page=120
https://finance.naver.com/item/sise_day.nhn?code=066570&page=121
https://finance.naver.com/item/sise_day.nhn?code=066570&page=122
https://finance.naver.com/item/sise_day.nhn?code=066570&page=123
https://finance.naver.com/item/sise_day.nhn?code=066570&page=124
https://finance.naver.com/item/sise_day.nhn?code=066570&page=125
https://finance.naver.com/item/sise_day.nhn?code=066570&page=126
https://finance.naver.com/item/sise_day.nhn?code=066570&page=127
https://finance.naver.com/item/sise_day.nhn?code=066570&page=128
https://finance.naver.com/item/sise_day.nhn?code=066570&page=129
https://finance.naver.com/item/sise_day.nhn?code=066570&page=130
https://finance.naver.com/item/sise_day.nhn?code=066570&page=131
https://finance.naver.com/item/sise_day.nhn?code=066570&page=132
https://finance.naver.com/item/sise_day.nhn?code=066570&page=133
https://finance.naver.com/item/sise_day.nhn?code=066570&page=134
https://finance.naver.com/item/sise_day.nhn?code=066570&page=135
https://finance.naver.com/item/sise_day.nhn?code=066570&page=136
https://finance.naver.com/item/sise_day.nhn?code=066570&page=137
https://finance.naver.com/item/sise_day.nhn?code=066570&page=138
https://finance.naver.com/item/sise_day.nhn?code=066570&page=139
https://finance.naver.com/item/sise_day.nhn?code=066570&page=140
https://finance.naver.com/item/sise_day.nhn?code=066570&page=141
https://finance.naver.com/item/sise_day.nhn?code=066570&page=142
https://finance.naver.com/item/sise_day.nhn?code=066570&page=143
https://finance.naver.com/item/sise_day.nhn?code=066570&page=144
https://finance.naver.com/item/sise_day.nhn?code=066570&page=145
https://finance.naver.com/item/sise_day.nhn?code=066570&page=146
https://finance.naver.com/item/sise_day.nhn?code=066570&page=147
https://finance.naver.com/item/sise_day.nhn?code=066570&page=148
https://finance.naver.com/item/sise_day.nhn?code=066570&page=149
https://finance.naver.com/item/sise_day.nhn?code=066570&page=150
https://finance.naver.com/item/sise_day.nhn?code=066570&page=151
https://finance.naver.com/item/sise_day.nhn?code=066570&page=152
https://finance.naver.com/item/sise_day.nhn?code=066570&page=153
https://finance.naver.com/item/sise_day.nhn?code=066570&page=154
https://finance.naver.com/item/sise_day.nhn?code=066570&page=155
https://finance.naver.com/item/sise_day.nhn?code=066570&page=156
https://finance.naver.com/item/sise_day.nhn?code=066570&page=157
https://finance.naver.com/item/sise_day.nhn?code=066570&page=158

In [25]:
lgelc = lgelc.reset_index(drop=True)
for i in range(len(lgelc['날짜'])):
    lgelc.날짜[i] = lgelc.날짜[i].replace('.', '')
lgelc['회사명'] = 'LG전자'

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/1583082163.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lgelc.날짜[i] = lgelc.날짜[i].replace('.', '')

In [26]:
lgelc = lgelc.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [27]:
lgelc

            날짜       종가   회사명
0     20230106  90700.0  LG전자
1     20230105  89900.0  LG전자
2     20230104  89700.0  LG전자
3     20230103  85700.0  LG전자
4     20230102  86400.0  LG전자
...        ...      ...   ...
1485  20161222  49400.0  LG전자
1486  20161221  48200.0  LG전자
1487  20161220  47800.0  LG전자
1488  20161219  47700.0  LG전자
1489  20161216  47850.0  LG전자

[1490 rows x 3 columns]

In [28]:
sk = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=000660'
for page in range(10, 159):
    page_url = '{}&page={}'.format(sise_url, page)
    print(page_url)

    response = requests.get(page_url, headers=headers)
    html = bs(response.text, 'html.parser')
    html_table = html.select("table")
    table = pd.read_html(str(html_table))

    sk = sk.append(table[0].dropna())

https://finance.naver.com/item/sise_day.nhn?code=000660&page=10
https://finance.naver.com/item/sise_day.nhn?code=000660&page=11
https://finance.naver.com/item/sise_day.nhn?code=000660&page=12
https://finance.naver.com/item/sise_day.nhn?code=000660&page=13
https://finance.naver.com/item/sise_day.nhn?code=000660&page=14
https://finance.naver.com/item/sise_day.nhn?code=000660&page=15
https://finance.naver.com/item/sise_day.nhn?code=000660&page=16
https://finance.naver.com/item/sise_day.nhn?code=000660&page=17
https://finance.naver.com/item/sise_day.nhn?code=000660&page=18
https://finance.naver.com/item/sise_day.nhn?code=000660&page=19
https://finance.naver.com/item/sise_day.nhn?code=000660&page=20
https://finance.naver.com/item/sise_day.nhn?code=000660&page=21
https://finance.naver.com/item/sise_day.nhn?code=000660&page=22
https://finance.naver.com/item/sise_day.nhn?code=000660&page=23
https://finance.naver.com/item/sise_day.nhn?code=000660&page=24
https://finance.naver.com/item/sise_day.nhn?code=000660&page=25
https://finance.naver.com/item/sise_day.nhn?code=000660&page=26
https://finance.naver.com/item/sise_day.nhn?code=000660&page=27
https://finance.naver.com/item/sise_day.nhn?code=000660&page=28
https://finance.naver.com/item/sise_day.nhn?code=000660&page=29
https://finance.naver.com/item/sise_day.nhn?code=000660&page=30
https://finance.naver.com/item/sise_day.nhn?code=000660&page=31
https://finance.naver.com/item/sise_day.nhn?code=000660&page=32
https://finance.naver.com/item/sise_day.nhn?code=000660&page=33
https://finance.naver.com/item/sise_day.nhn?code=000660&page=34
https://finance.naver.com/item/sise_day.nhn?code=000660&page=35
https://finance.naver.com/item/sise_day.nhn?code=000660&page=36
https://finance.naver.com/item/sise_day.nhn?code=000660&page=37
https://finance.naver.com/item/sise_day.nhn?code=000660&page=38
https://finance.naver.com/item/sise_day.nhn?code=000660&page=39
https://finance.naver.com/item/sise_day.nhn?code=000660&page=40
https://finance.naver.com/item/sise_day.nhn?code=000660&page=41
https://finance.naver.com/item/sise_day.nhn?code=000660&page=42
https://finance.naver.com/item/sise_day.nhn?code=000660&page=43
https://finance.naver.com/item/sise_day.nhn?code=000660&page=44
https://finance.naver.com/item/sise_day.nhn?code=000660&page=45
https://finance.naver.com/item/sise_day.nhn?code=000660&page=46
https://finance.naver.com/item/sise_day.nhn?code=000660&page=47
https://finance.naver.com/item/sise_day.nhn?code=000660&page=48
https://finance.naver.com/item/sise_day.nhn?code=000660&page=49
https://finance.naver.com/item/sise_day.nhn?code=000660&page=50
https://finance.naver.com/item/sise_day.nhn?code=000660&page=51
https://finance.naver.com/item/sise_day.nhn?code=000660&page=52
https://finance.naver.com/item/sise_day.nhn?code=000660&page=53
https://finance.naver.com/item/sise_day.nhn?code=000660&page=54
https://finance.naver.com/item/sise_day.nhn?code=000660&page=55
https://finance.naver.com/item/sise_day.nhn?code=000660&page=56
https://finance.naver.com/item/sise_day.nhn?code=000660&page=57
https://finance.naver.com/item/sise_day.nhn?code=000660&page=58
https://finance.naver.com/item/sise_day.nhn?code=000660&page=59
https://finance.naver.com/item/sise_day.nhn?code=000660&page=60
https://finance.naver.com/item/sise_day.nhn?code=000660&page=61
https://finance.naver.com/item/sise_day.nhn?code=000660&page=62
https://finance.naver.com/item/sise_day.nhn?code=000660&page=63
https://finance.naver.com/item/sise_day.nhn?code=000660&page=64
https://finance.naver.com/item/sise_day.nhn?code=000660&page=65
https://finance.naver.com/item/sise_day.nhn?code=000660&page=66
https://finance.naver.com/item/sise_day.nhn?code=000660&page=67
https://finance.naver.com/item/sise_day.nhn?code=000660&page=68
https://finance.naver.com/item/sise_day.nhn?code=000660&page=69
https://finance.naver.com/item/sise_day.nhn?code=000660&page=70
https://finance.naver.com/item/sise_day.nhn?code=000660&page=71
https://finance.naver.com/item/sise_day.nhn?code=000660&page=72
https://finance.naver.com/item/sise_day.nhn?code=000660&page=73
https://finance.naver.com/item/sise_day.nhn?code=000660&page=74
https://finance.naver.com/item/sise_day.nhn?code=000660&page=75
https://finance.naver.com/item/sise_day.nhn?code=000660&page=76
https://finance.naver.com/item/sise_day.nhn?code=000660&page=77
https://finance.naver.com/item/sise_day.nhn?code=000660&page=78
https://finance.naver.com/item/sise_day.nhn?code=000660&page=79
https://finance.naver.com/item/sise_day.nhn?code=000660&page=80
https://finance.naver.com/item/sise_day.nhn?code=000660&page=81
https://finance.naver.com/item/sise_day.nhn?code=000660&page=82
https://finance.naver.com/item/sise_day.nhn?code=000660&page=83
https://finance.naver.com/item/sise_day.nhn?code=000660&page=84
https://finance.naver.com/item/sise_day.nhn?code=000660&page=85
https://finance.naver.com/item/sise_day.nhn?code=000660&page=86
https://finance.naver.com/item/sise_day.nhn?code=000660&page=87
https://finance.naver.com/item/sise_day.nhn?code=000660&page=88
https://finance.naver.com/item/sise_day.nhn?code=000660&page=89
https://finance.naver.com/item/sise_day.nhn?code=000660&page=90
https://finance.naver.com/item/sise_day.nhn?code=000660&page=91
https://finance.naver.com/item/sise_day.nhn?code=000660&page=92
https://finance.naver.com/item/sise_day.nhn?code=000660&page=93
https://finance.naver.com/item/sise_day.nhn?code=000660&page=94
https://finance.naver.com/item/sise_day.nhn?code=000660&page=95
https://finance.naver.com/item/sise_day.nhn?code=000660&page=96
https://finance.naver.com/item/sise_day.nhn?code=000660&page=97
https://finance.naver.com/item/sise_day.nhn?code=000660&page=98
https://finance.naver.com/item/sise_day.nhn?code=000660&page=99
https://finance.naver.com/item/sise_day.nhn?code=000660&page=100
https://finance.naver.com/item/sise_day.nhn?code=000660&page=101
https://finance.naver.com/item/sise_day.nhn?code=000660&page=102
https://finance.naver.com/item/sise_day.nhn?code=000660&page=103
https://finance.naver.com/item/sise_day.nhn?code=000660&page=104
https://finance.naver.com/item/sise_day.nhn?code=000660&page=105
https://finance.naver.com/item/sise_day.nhn?code=000660&page=106
https://finance.naver.com/item/sise_day.nhn?code=000660&page=107
https://finance.naver.com/item/sise_day.nhn?code=000660&page=108
https://finance.naver.com/item/sise_day.nhn?code=000660&page=109
https://finance.naver.com/item/sise_day.nhn?code=000660&page=110
https://finance.naver.com/item/sise_day.nhn?code=000660&page=111
https://finance.naver.com/item/sise_day.nhn?code=000660&page=112
https://finance.naver.com/item/sise_day.nhn?code=000660&page=113
https://finance.naver.com/item/sise_day.nhn?code=000660&page=114
https://finance.naver.com/item/sise_day.nhn?code=000660&page=115
https://finance.naver.com/item/sise_day.nhn?code=000660&page=116
https://finance.naver.com/item/sise_day.nhn?code=000660&page=117
https://finance.naver.com/item/sise_day.nhn?code=000660&page=118
https://finance.naver.com/item/sise_day.nhn?code=000660&page=119
https://finance.naver.com/item/sise_day.nhn?code=000660&page=120
https://finance.naver.com/item/sise_day.nhn?code=000660&page=121
https://finance.naver.com/item/sise_day.nhn?code=000660&page=122
https://finance.naver.com/item/sise_day.nhn?code=000660&page=123
https://finance.naver.com/item/sise_day.nhn?code=000660&page=124
https://finance.naver.com/item/sise_day.nhn?code=000660&page=125
https://finance.naver.com/item/sise_day.nhn?code=000660&page=126
https://finance.naver.com/item/sise_day.nhn?code=000660&page=127
https://finance.naver.com/item/sise_day.nhn?code=000660&page=128
https://finance.naver.com/item/sise_day.nhn?code=000660&page=129
https://finance.naver.com/item/sise_day.nhn?code=000660&page=130
https://finance.naver.com/item/sise_day.nhn?code=000660&page=131
https://finance.naver.com/item/sise_day.nhn?code=000660&page=132
https://finance.naver.com/item/sise_day.nhn?code=000660&page=133
https://finance.naver.com/item/sise_day.nhn?code=000660&page=134
https://finance.naver.com/item/sise_day.nhn?code=000660&page=135
https://finance.naver.com/item/sise_day.nhn?code=000660&page=136
https://finance.naver.com/item/sise_day.nhn?code=000660&page=137
https://finance.naver.com/item/sise_day.nhn?code=000660&page=138
https://finance.naver.com/item/sise_day.nhn?code=000660&page=139
https://finance.naver.com/item/sise_day.nhn?code=000660&page=140
https://finance.naver.com/item/sise_day.nhn?code=000660&page=141
https://finance.naver.com/item/sise_day.nhn?code=000660&page=142
https://finance.naver.com/item/sise_day.nhn?code=000660&page=143
https://finance.naver.com/item/sise_day.nhn?code=000660&page=144
https://finance.naver.com/item/sise_day.nhn?code=000660&page=145
https://finance.naver.com/item/sise_day.nhn?code=000660&page=146
https://finance.naver.com/item/sise_day.nhn?code=000660&page=147
https://finance.naver.com/item/sise_day.nhn?code=000660&page=148
https://finance.naver.com/item/sise_day.nhn?code=000660&page=149
https://finance.naver.com/item/sise_day.nhn?code=000660&page=150
https://finance.naver.com/item/sise_day.nhn?code=000660&page=151
https://finance.naver.com/item/sise_day.nhn?code=000660&page=152
https://finance.naver.com/item/sise_day.nhn?code=000660&page=153
https://finance.naver.com/item/sise_day.nhn?code=000660&page=154
https://finance.naver.com/item/sise_day.nhn?code=000660&page=155
https://finance.naver.com/item/sise_day.nhn?code=000660&page=156
https://finance.naver.com/item/sise_day.nhn?code=000660&page=157
https://finance.naver.com/item/sise_day.nhn?code=000660&page=158

In [29]:
sk = sk.reset_index(drop=True)
for i in range(len(sk['날짜'])):
    sk.날짜[i] = sk.날짜[i].replace('.', '')
sk['회사명'] = 'SK하이닉스'

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/908511715.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sk.날짜[i] = sk.날짜[i].replace('.', '')

In [30]:
sk = sk.drop(labels=['전일비', '시가', '고가', '저가', '거래량'],axis=1)

In [31]:
sk

            날짜       종가     회사명
0     20230106  83100.0  SK하이닉스
1     20230105  81400.0  SK하이닉스
2     20230104  81000.0  SK하이닉스
3     20230103  75600.0  SK하이닉스
4     20230102  75700.0  SK하이닉스
...        ...      ...     ...
1485  20161222  45500.0  SK하이닉스
1486  20161221  45000.0  SK하이닉스
1487  20161220  45150.0  SK하이닉스
1488  20161219  45150.0  SK하이닉스
1489  20161216  46400.0  SK하이닉스

[1490 rows x 3 columns]

In [32]:
# 생성한 주가 데이터프레임을 하나의 데이터프레임으로 합쳐줌

combined_df = pd.concat([sk, samsungsdi,samsungsds,samsungelc,lgdis,lgelc])

In [33]:
combined_df

            날짜       종가     회사명
0     20230106  83100.0  SK하이닉스
1     20230105  81400.0  SK하이닉스
2     20230104  81000.0  SK하이닉스
3     20230103  75600.0  SK하이닉스
4     20230102  75700.0  SK하이닉스
...        ...      ...     ...
1485  20161222  49400.0    LG전자
1486  20161221  48200.0    LG전자
1487  20161220  47800.0    LG전자
1488  20161219  47700.0    LG전자
1489  20161216  47850.0    LG전자

[9030 rows x 3 columns]

In [35]:
# 이전에 사용했던 종가 및 거래량 엑셀 파일을 불러옴

fin  = pd.read_excel("final_fin.xlsx")

In [36]:
fin

,회사명,날짜,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,거래량,종가
0,삼성전자,2019.01.03,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800
1,삼성전자,2019.01.07,3.35,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1307934,18400
2,삼성전자,2019.01.09,3.79,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1830546,19000
3,삼성전자,2019.01.25,3.80,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,2055931,20300
4,삼성전자,2019.02.08,-3.12,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,965641,18850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,LG디스플레이,2022.11.11,7.14,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,3409680,15400
830,LG디스플레이,2022.11.14,-5.12,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,2298394,14650
831,LG디스플레이,2022.11.18,3.03,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,2393482,14850
832,LG디스플레이,2022.12.14,4.21,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1055419,14250
833,LG디스플레이,2022.12.16,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400

In [37]:
# 날짜 형식 통일을 위한 과정

for i in range(len(fin['날짜'])):
    fin.날짜[i] = fin.날짜[i].replace('.', '')

C:\Users\msi\AppData\Local\Temp/ipykernel_29564/3532627282.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin.날짜[i] = fin.날짜[i].replace('.', '')

In [38]:
# 주가 상승과 하락, binary하게 분류하기 위한 함수

def classify_size(size):
    if size >= 0:
        return 1
    else:
        return 0

In [39]:
# 위의 함수를 적용하여 데이터프레임에 일별 주가 상승과 하락을 구분해줌

fin['Either'] = fin['등락률'].apply(classify_size)

In [40]:
fin

,회사명,날짜,등락률,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,거래량,종가,Either
0,삼성전자,20190103,-3.06,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,1177579,17800,0
1,삼성전자,20190107,3.35,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1307934,18400,1
2,삼성전자,20190109,3.79,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1830546,19000,1
3,삼성전자,20190125,3.80,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,2055931,20300,1
4,삼성전자,20190208,-3.12,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,965641,18850,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,LG디스플레이,20221111,7.14,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,3409680,15400,1
830,LG디스플레이,20221114,-5.12,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,2298394,14650,0
831,LG디스플레이,20221118,3.03,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,2393482,14850,1
832,LG디스플레이,20221214,4.21,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1055419,14250,1
833,LG디스플레이,20221216,-3.73,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,2018071,13400,0

In [41]:
# 필요없는 칼럼들을 제거해줌

fin = fin.drop(['거래량', '종가','등락률'], axis=1)

In [42]:

# 거래량/종가 관련 데이터프레임과 주가 데이터프레임을 회사명, 날짜가 일치하는 것끼리 합쳐줌
new_df = pd.merge(fin, combined_df, on=["날짜","회사명"])
new_df['날짜'] = new_df['날짜'].astype(int)

# 이후 사용할 재무제표와 날짜를 통일시키기 위해 구간별로 날짜를 다시 설정해줌
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20190331 if 20190101 <= x <= 20190331 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20190630 if 20190401 <= x <= 20190630 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20190930 if 20190701 <= x <= 20190930 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20191231 if 20191001 <= x <= 20191231 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20200331 if 20200101 <= x <= 20200331 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20200630 if 20200401 <= x <= 20200630 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20200930 if 20200701 <= x <= 20200930 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20201231 if 20201001 <= x <= 20201231 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20210331 if 20210101 <= x <= 20210331 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20210630 if 20210401 <= x <= 20210630 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20210930 if 20210701 <= x <= 20210930 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20211231 if 20211001 <= x <= 20211231 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20220331 if 20220101 <= x <= 20220331 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20220630 if 20220401 <= x <= 20220630 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20220930 if 20220701 <= x <= 20220930 else x)
new_df['날짜'] = new_df['날짜'].apply(lambda x: 20221231 if 20221001 <= x <= 20221231 else x)

In [43]:
new_df

,회사명,날짜,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,Either,종가
0,삼성전자,20190331,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,0,37600.0
1,삼성전자,20190331,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1,38750.0
2,삼성전자,20190331,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1,39600.0
3,삼성전자,20190331,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,1,44750.0
4,삼성전자,20190331,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,0,44800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,LG디스플레이,20221231,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,1,15400.0
830,LG디스플레이,20221231,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,0,14650.0
831,LG디스플레이,20221231,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,1,14850.0
832,LG디스플레이,20221231,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1,14250.0
833,LG디스플레이,20221231,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,0,13400.0

In [44]:
# 주가가 상승한 일자의 경우 up 데이터프레임/하락한 경우 down 데이터프레임으로 들어가게 함.

up = new_df[new_df['Either'] == 1]
down = new_df[new_df['Either'] == 0]

In [45]:
up

,회사명,날짜,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,Either,종가
1,삼성전자,20190331,0.00,-0.01,-0.01,0.00,0.02,-0.33,-0.23,0.40,0.06,0.05,1,38750.0
2,삼성전자,20190331,-0.01,0.00,0.02,0.01,0.03,0.40,0.06,0.05,0.06,0.96,1,39600.0
3,삼성전자,20190331,0.00,0.01,-0.03,0.01,0.00,-0.20,1.37,-0.21,-0.52,-0.01,1,44750.0
7,삼성전자,20190331,0.01,0.00,-0.01,-0.02,0.00,-0.31,0.07,-0.14,-0.21,-0.04,1,45850.0
10,삼성전자,20190930,0.03,0.06,0.00,0.02,0.01,0.34,2.08,-0.34,-0.32,-0.29,1,45700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,LG디스플레이,20221231,-0.05,0.02,0.03,0.00,-0.02,-0.28,-0.09,-0.19,-0.29,0.23,1,13400.0
828,LG디스플레이,20221231,0.03,0.00,-0.02,0.04,0.00,-0.19,-0.29,0.23,0.51,-0.26,1,14450.0
829,LG디스플레이,20221231,0.04,0.00,0.08,-0.01,0.00,0.51,-0.26,2.19,-0.68,0.31,1,15400.0
831,LG디스플레이,20221231,0.08,-0.05,0.01,-0.01,-0.02,0.67,-0.33,-0.55,0.21,-0.32,1,14850.0
832,LG디스플레이,20221231,-0.02,-0.01,0.01,0.00,-0.03,-0.28,2.13,-0.58,-0.44,0.13,1,14250.0

In [46]:
down

,회사명,날짜,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,Either,종가
0,삼성전자,20190331,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,0,37600.0
4,삼성전자,20190331,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,0,44800.0
5,삼성전자,20190331,-0.02,0.01,0.01,-0.02,0.02,-0.44,0.04,0.12,0.35,0.31,0,46050.0
6,삼성전자,20190331,0.05,0.00,0.00,0.01,0.01,2.04,-0.69,-0.13,-0.07,0.73,0,45100.0
8,삼성전자,20190630,0.01,-0.01,0.00,0.00,-0.01,0.06,-0.39,-0.16,0.48,-0.31,0,45600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,LG디스플레이,20221231,-0.02,-0.01,0.00,0.07,0.03,-0.32,-0.37,0.01,1.54,-0.27,0,14250.0
824,LG디스플레이,20221231,0.03,-0.04,0.03,-0.01,-0.02,-0.27,-0.12,-0.15,-0.13,0.31,0,13400.0
825,LG디스플레이,20221231,-0.01,-0.02,-0.06,-0.01,-0.02,-0.13,0.31,0.47,-0.42,0.96,0,12450.0
830,LG디스플레이,20221231,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,0,14650.0
833,LG디스플레이,20221231,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,0,13400.0

In [47]:
# 분석에 불필요한 회사명, 날짜 칼럼을 제거하고 예측해야할 값인 종가 칼럼 또한 제거하여 선형회귀의 x로 사용될 데이터 프레임 생성

X_up = up.drop(columns=['종가','회사명','날짜'])

# 선형회귀에서 y로 사용될 종가 설정

y_up = up['종가']

In [48]:
# 분석에 불필요한 회사명, 날짜 칼럼을 제거하고 예측해야할 값인 종가 칼럼 또한 제거하여 선형회귀의 x로 사용될 데이터 프레임 생성

X_down = down.drop(columns=['종가','회사명','날짜'])

# 선형회귀에서 y로 사용될 종가 설정

y_down = down['종가']

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [50]:
# 상승관련 회귀식 작성을 위해 데이터를 split 해줌

X_train, X_test, y_train, y_test = train_test_split(X_up, y_up, test_size=0.2, random_state=42)

In [51]:
lr = LinearRegression()

In [52]:
# Fit a linear regression model to the training data
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [53]:
y_test_hat = lr.predict(X_test)
print(y_test)
print(y_test_hat)

535     68100.0
147    126500.0
212    393000.0
484     94000.0
609    124000.0
         ...
812     15450.0
110    172500.0
232    552000.0
48      84200.0
39      58700.0
Name: 종가, Length: 87, dtype: float64
[151144.02697334 176750.81148657 221649.84059302 210820.72129117
 193575.44950692 171628.24782497 162863.28857639 261384.75629589
 184260.33360023 168285.73396612 175894.82115789 180148.23874884
 180139.95161416 182765.29886083 136951.74034451 154079.00780547
 147682.0787009  204230.8323712  196519.47685167 154198.41985595
  83406.91535095 180626.46793861 174512.7407218  183540.87836384
 167494.01538884 151759.07680349 183079.24342983 212578.28978211
 142852.03785367 206293.46745606 161599.90801999 171812.0887292
 159981.57371422 200462.61919129 147437.76533651 224314.44033519
 130559.35074135 161252.65496136 166929.82264257 176195.47733199
 167494.01538884 160079.23051065 165771.88729203 180932.47537863
 161238.95703084 158254.16570186 147224.70340953 182765.29886083
 142852.03785367 166088.00902829 199976.66538176 221649.84059302
 206273.21025723 194999.81767187 180932.47537863 150255.93105733
 185537.94449534 221848.13700534 206268.58595771 188248.78965679
 217797.40935698 199206.32758476 161723.10244836 165052.96714288
 174424.23952623 164704.86346479 165891.46798718 331114.32886841
 185653.49009409 158928.69108522 152453.48353922 236346.32307381
 187715.74227907 151612.67342975 172366.34320663 160079.23051065
 179196.25252978 301100.6955913  184260.33360023 212446.45827993
 138213.89237006 174812.8425405  158754.21847142 161723.10244836
 166338.59284327 180626.46793861 174318.07390935]

In [54]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# 회귀식 작성 후 predict 결과 회귀식이 설명력이 없어 무의미하다고 판단

print('performance for TEST--------')
print('test MAE : ', mean_absolute_error(y_test, y_test_hat))
print('test RMSE : ', mean_squared_error(y_test, y_test_hat)**0.5)
print('test R_square : ', r2_score(y_test, y_test_hat))

performance for TEST--------
test MAE :  138084.615257449
test RMSE :  188058.84145775912
test R_square :  -0.09951506716449154

In [55]:
from sklearn.linear_model import Ridge
training_r2 = []
test_r2 = []

alpha_settings = [0, 0.1, 1, 10]
for alpha in alpha_settings:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)

    y_train_hat = ridge.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = ridge.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

In [56]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2})

   alpha  training R2   test R2
0    0.0     0.033154 -0.099515
1    0.1     0.031086 -0.080919
2    1.0     0.017972 -0.059499
3   10.0     0.010453 -0.054123

In [57]:
from sklearn.linear_model import Lasso

training_r2 = []
test_r2 = []
num_vars_used = []

alpha_settings = [0.0001, 0.001, 0.01, 0.1, 1]
for alpha in alpha_settings:
    lasso = Lasso(alpha=alpha)
    lasso.fit(X_train, y_train)

    num_vars_used.append(sum(lasso.coef_ != 0))

    y_train_hat = lasso.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = lasso.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

In [58]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2, "variables used": num_vars_used})

    alpha  training R2   test R2  variables used
0  0.0001     0.033154 -0.099515              10
1  0.0010     0.033154 -0.099515              10
2  0.0100     0.033154 -0.099514              10
3  0.1000     0.033154 -0.099502              10
4  1.0000     0.033153 -0.099388              10

단순히 거래량과 종가의 변동률로는 의미없는 선형회귀를 진행할 수 없다고 판단하고 재무제표를 추가하여 회귀를 진행

<h1>재무제표 부분 불러오기

In [61]:
# 이전에 생성한 재무제표 파일 불러오기

samsungsdi_fin  = pd.read_excel("재무제표 관련/삼성SDI_fs_info.xlsx")

In [62]:
samsungsdi_fin= samsungsdi_fin.transpose()

# 첫번째 row를 칼럼으로 설정
header = samsungsdi_fin.iloc[0]
samsungsdi_fin = samsungsdi_fin[1:]
samsungsdi_fin.rename(columns=header, inplace=True)

# 회사명 칼럼 생성
samsungsdi_fin['회사명'] = '삼성SDI'
# 날짜부분이 index로 설정되어 있어 날짜 칼럼을 만들어서 넣어줌
samsungsdi_fin['날짜'] = samsungsdi_fin.index
samsungsdi_fin['날짜'] = samsungsdi_fin['날짜'].astype(int)
# 인덱싱 재설정
samsungsdi_fin = samsungsdi_fin.reset_index(drop=True)

samsungsdi_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,30257525171127.0,10468351380974.0,17217502156128.0,0.345975,0.608006,삼성SDI,20221231
1,30367368304672.0,9800369530579.0,16907048646432.0,0.322727,0.579662,삼성SDI,20220930
2,28841886693090.0,9197450537545.0,16048084795905.0,0.318892,0.573118,삼성SDI,20220630
3,27004998013827.0,8806123158633.0,15660257401643.0,0.326092,0.562323,삼성SDI,20220331
4,25833192996936.0,8516473334138.0,15196699314855.0,0.329672,0.560416,삼성SDI,20211231
5,24521226789741.0,8155428104447.0,14874548452763.0,0.332586,0.548281,삼성SDI,20210930
6,23215380587492.0,7760159027433.0,14184710221295.0,0.334268,0.547079,삼성SDI,20210630
7,21922841096152.0,7485374242446.0,13642307365213.0,0.341442,0.548688,삼성SDI,20210331
8,21534232266829.0,7418101759867.0,13358926888116.0,0.34448,0.555292,삼성SDI,20201231
9,20809397616941.0,7096725036429.0,12964672894936.0,0.341035,0.547389,삼성SDI,20200930
10,20539962732324.0,6873695710655.0,12652123922583.0,0.33465,0.543284,삼성SDI,20200630
11,19886909228403.0,6830318479970.0,12464269085684.0,0.343458,0.547992,삼성SDI,20200331
12,19852096448004.0,6906868477500.0,12660345195136.0,0.347916,0.545551,삼성SDI,20191231
13,19736996217646.0,6952659346370.0,12755620648692.0,0.352265,0.545066,삼성SDI,20190930
14,19765807258363.0,6744304361902.0,12517222577563.0,0.341211,0.538802,삼성SDI,20190630
15,19554270209306.0,6595751023973.0,12309548976968.0,0.337305,0.535824,삼성SDI,20190331
16,19349721183929.0,6612515753726.0,12225219216190.0,0.341737,0.540891,삼성SDI,20181231
17,15741705378257.0,5600587220357.0,11451999497442.0,0.35578,0.489049,삼성SDI,20171231
18,14900311234207.0,4994717277797.0,10964110226958.0,0.335209,0.455552,삼성SDI,20161231

<h2>재무제표 과정 또한 위의 과정과 동일하여 주석 생략하고 진행하였습니다.

In [63]:
lgdis_fin  = pd.read_excel("재무제표 관련/LG디스플레이_fs_info.xlsx")

In [64]:
lgdis_fin= lgdis_fin.transpose()

header = lgdis_fin.iloc[0]
lgdis_fin = lgdis_fin[1:]
lgdis_fin.rename(columns=header, inplace=True)
lgdis_fin['회사명'] = 'LG디스플레이'
lgdis_fin['날짜'] = lgdis_fin.index
lgdis_fin['날짜'] = lgdis_fin['날짜'].astype(int)
lgdis_fin = lgdis_fin.rename(columns={'이익잉여금(결손금)':'이익잉여금'})
lgdis_fin = lgdis_fin.reset_index(drop=True)

lgdis_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351,LG디스플레이,20221231
1,40133950000000.0,7278419000000.0,14283603000000.0,0.181353,0.509565,LG디스플레이,20220930
2,38305442000000.0,8072910000000.0,14630334000000.0,0.210751,0.551793,LG디스플레이,20220630
3,38267145000000.0,8325146000000.0,14757226000000.0,0.217553,0.56414,LG디스플레이,20220331
4,38154515000000.0,8541521000000.0,14762501000000.0,0.223867,0.578596,LG디스플레이,20211231
5,37606183000000.0,8526710000000.0,14611637000000.0,0.226737,0.583556,LG디스플레이,20210930
6,36323689000000.0,8109354000000.0,13760723000000.0,0.223252,0.589312,LG디스플레이,20210630
7,36397551000000.0,7748806000000.0,13239101000000.0,0.212894,0.585297,LG디스플레이,20210331
8,35066012000000.0,7518786000000.0,12731428000000.0,0.214418,0.590569,LG디스플레이,20201231
9,35497408000000.0,6841972000000.0,12174379000000.0,0.192746,0.561998,LG디스플레이,20200930
10,35054254000000.0,6812370000000.0,12100773000000.0,0.194338,0.56297,LG디스플레이,20200630
11,35885572000000.0,7302500000000.0,12563061000000.0,0.203494,0.581268,LG디스플레이,20200331
12,35574563000000.0,7503312000000.0,12488281000000.0,0.210918,0.600828,LG디스플레이,20191231
13,37443065000000.0,9201528000000.0,14325925000000.0,0.245747,0.642299,LG디스플레이,20190930
14,35600739000000.0,9622298000000.0,14728558000000.0,0.270284,0.653309,LG디스플레이,20190630
15,35387981000000.0,10176992000000.0,15289534000000.0,0.287583,0.665618,LG디스플레이,20190331
16,33175710000000.0,10239965000000.0,14886246000000.0,0.308659,0.687881,LG디스플레이,20181231
17,29159687000000.0,10621571000000.0,14981510000000.0,0.364255,0.708979,LG디스플레이,20171231
18,24884336000000.0,9004283000000.0,13462388000000.0,0.361845,0.668847,LG디스플레이,20161231

In [65]:
lgelc_fin  = pd.read_excel("재무제표 관련/LG전자_fs_info.xlsx")

In [66]:
lgelc_fin= lgelc_fin.transpose()

header = lgelc_fin.iloc[0]
lgelc_fin = lgelc_fin[1:]
lgelc_fin.rename(columns=header, inplace=True)
lgelc_fin['회사명'] = 'LG전자'
lgelc_fin['날짜'] = lgelc_fin.index
lgelc_fin['날짜'] = lgelc_fin['날짜'].astype(int)
lgelc_fin = lgelc_fin.reset_index(drop=True)

lgelc_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,55156141000000.0,15834021000000.0,22491997000000.0,0.287076,0.703985,LG전자,20221231
1,61299428000000.0,16419424000000.0,24895245000000.0,0.267856,0.659541,LG전자,20220930
2,55368797000000.0,16117459000000.0,23253025000000.0,0.291093,0.693134,LG전자,20220630
3,55050923000000.0,15676888000000.0,21880321000000.0,0.284771,0.716483,LG전자,20220331
4,53481478000000.0,14433587000000.0,20098033000000.0,0.26988,0.718159,LG전자,20211231
5,54559798000000.0,14539535000000.0,20305124000000.0,0.266488,0.716053,LG전자,20210930
6,50666883000000.0,14126258000000.0,18701647000000.0,0.278807,0.755348,LG전자,20210630
7,50458634000000.0,14514560000000.0,18850799000000.0,0.287653,0.769971,LG전자,20210331
8,48204227000000.0,13652837000000.0,17542125000000.0,0.283229,0.778289,LG전자,20201231
9,49395983000000.0,13374826000000.0,17771994000000.0,0.270767,0.752579,LG전자,20200930
10,44770155000000.0,12766291000000.0,17358791000000.0,0.285152,0.735437,LG전자,20200630
11,45570152000000.0,12746687000000.0,17390671000000.0,0.279716,0.732961,LG전자,20200331
12,44859875000000.0,11857302000000.0,16425138000000.0,0.264319,0.7219,LG전자,20191231
13,47204560000000.0,12653030000000.0,17450926000000.0,0.268047,0.725064,LG전자,20190930
14,45867252000000.0,12447002000000.0,17094998000000.0,0.27137,0.728108,LG전자,20190630
15,45936704000000.0,12456700000000.0,16939675000000.0,0.271171,0.735356,LG전자,20190331
16,44328443000000.0,12075414000000.0,16306907000000.0,0.272408,0.740509,LG전자,20181231
17,41220959000000.0,10964155000000.0,14673684000000.0,0.265985,0.747199,LG전자,20171231
18,37855269000000.0,9233416000000.0,13356742000000.0,0.243914,0.691293,LG전자,20161231

In [67]:
sk_fin  = pd.read_excel("재무제표 관련/SK하이닉스_fs_info.xlsx")

In [68]:
sk_fin= sk_fin.transpose()

header = sk_fin.iloc[0]
sk_fin = sk_fin[1:]
sk_fin.rename(columns=header, inplace=True)
sk_fin['회사명'] = 'SK하이닉스'
sk_fin['날짜'] = sk_fin.index
sk_fin['날짜'] = sk_fin['날짜'].astype(int)
sk_fin = sk_fin.reset_index(drop=True)

sk_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,103871512000000.0,56685260000000.0,63290542000000.0,0.545725,0.895636,SK하이닉스,20221231
1,109545800000000.0,60232908000000.0,68723186000000.0,0.549842,0.876457,SK하이닉스,20220930
2,104147622000000.0,59346943000000.0,66760160000000.0,0.569835,0.888957,SK하이닉스,20220630
3,99466056000000.0,56692698000000.0,63398639000000.0,0.56997,0.894226,SK하이닉스,20220331
4,96346525000000.0,55784068000000.0,62191058000000.0,0.578994,0.896979,SK하이닉스,20211231
5,83269048000000.0,52460405000000.0,58714446000000.0,0.630011,0.893484,SK하이닉스,20210930
6,77717897000000.0,49156421000000.0,54878014000000.0,0.632498,0.89574,SK하이닉스,20210630
7,75118008000000.0,47178853000000.0,52378589000000.0,0.628063,0.900728,SK하이닉스,20210331
8,71173853000000.0,46995728000000.0,51909097000000.0,0.660295,0.905347,SK하이닉스,20201231
9,69267173000000.0,45221291000000.0,50499059000000.0,0.652853,0.895488,SK하이닉스,20200930
10,69259297000000.0,44148533000000.0,49402876000000.0,0.637438,0.893643,SK하이닉스,20200630
11,67142787000000.0,42890187000000.0,48247724000000.0,0.638791,0.888958,SK하이닉스,20200331
12,65248350000000.0,42923362000000.0,47935882000000.0,0.657846,0.895433,SK하이닉스,20191231
13,63671751000000.0,43122640000000.0,48266226000000.0,0.677265,0.893433,SK하이닉스,20190930
14,63032264000000.0,42634568000000.0,47710787000000.0,0.676393,0.893604,SK하이닉스,20190630
15,65131501000000.0,42104440000000.0,47166007000000.0,0.646453,0.892686,SK하이닉스,20190331
16,63658335000000.0,42033601000000.0,46852331000000.0,0.6603,0.897151,SK하이닉스,20181231
17,45418464000000.0,27287256000000.0,33820919000000.0,0.600797,0.806816,SK하이닉스,20171231
18,32216026000000.0,17066583000000.0,24023530000000.0,0.529754,0.710411,SK하이닉스,20161231

In [69]:
samsungsds_fin  = pd.read_excel("재무제표 관련/삼성에스디에스_fs_info.xlsx")

In [70]:
samsungsds_fin= samsungsds_fin.transpose()

header = samsungsds_fin.iloc[0]
samsungsds_fin = samsungsds_fin[1:]
samsungsds_fin.rename(columns=header, inplace=True)
samsungsds_fin['회사명'] = '삼성에스디에스'
samsungsds_fin['날짜'] = samsungsds_fin.index
samsungsds_fin['날짜'] = samsungsds_fin['날짜'].astype(int)
samsungsds_fin = samsungsds_fin.reset_index(drop=True)

samsungsds_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,11952424889489.0,7000953240103.0,8466969934914.0,0.585735,0.826855,삼성에스디에스,20221231
1,12258729167260.0,6757097839450.0,8408116500172.0,0.551207,0.80364,삼성에스디에스,20220930
2,11369465729686.0,6365978633243.0,7841722444258.0,0.559919,0.811809,삼성에스디에스,20220630
3,10835157848953.0,6098762901011.0,7500799712279.0,0.562868,0.813082,삼성에스디에스,20220331
4,10517432175247.0,6086848943364.0,7443700632071.0,0.578739,0.817718,삼성에스디에스,20211231
5,10172946545716.0,5983492380890.0,7368249777535.0,0.588177,0.812064,삼성에스디에스,20210930
6,9918291459973.0,5790895959210.0,7084066079603.0,0.58386,0.817454,삼성에스디에스,20210630
7,9547628039027.0,5631707410481.0,6878996190118.0,0.589854,0.818682,삼성에스디에스,20210331
8,9154919055538.0,5661318543041.0,6859108164233.0,0.618391,0.825372,삼성에스디에스,20201231
9,9208301322092.0,5489552430149.0,6800682680610.0,0.596153,0.807206,삼성에스디에스,20200930
10,8998024683764.0,5332217777397.0,6660453633227.0,0.592599,0.800579,삼성에스디에스,20200630
11,8978924497760.0,5188038379794.0,6531539038852.0,0.577802,0.794306,삼성에스디에스,20200331
12,9021235882454.0,5403504408350.0,6725157088500.0,0.598976,0.803476,삼성에스디에스,20191231
13,8987224060447.0,5151060810222.0,6555810682991.0,0.573154,0.785724,삼성에스디에스,20190930
14,8801403296612.0,4996636000701.0,6370368935047.0,0.567709,0.784356,삼성에스디에스,20190630
15,8633742609474.0,4807047947832.0,6163456241677.0,0.556775,0.779927,삼성에스디에스,20190331
16,8013849390714.0,4821746821634.0,6148552184370.0,0.601677,0.784208,삼성에스디에스,20181231
17,7277760879807.0,4347047622867.0,5719429436643.0,0.597306,0.760049,삼성에스디에스,20171231
18,6842003858379.0,3874712651378.0,5291124094581.0,0.566313,0.732304,삼성에스디에스,20161231

In [71]:
samsungelc_fin  = pd.read_excel("재무제표 관련/삼성전자_fs_info.xlsx")

In [72]:
samsungelc_fin= samsungelc_fin.transpose()

header = samsungelc_fin.iloc[0]
samsungelc_fin = samsungelc_fin[1:]
samsungelc_fin.rename(columns=header, inplace=True)
samsungelc_fin['회사명'] = '삼성전자'
samsungelc_fin['날짜'] = samsungelc_fin.index
samsungelc_fin['날짜'] = samsungelc_fin['날짜'].astype(int)
samsungelc_fin = samsungelc_fin.rename(columns={'이익잉여금(결손금)':'이익잉여금'})
samsungelc_fin = samsungelc_fin.reset_index(drop=True)

samsungelc_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,448424507000000.0,337946407000000.0,354749604000000.0,0.753631,0.952634,삼성전자,20221231
1,470278409000000.0,316890272000000.0,344906889000000.0,0.673835,0.91877,삼성전자,20220930
2,448040650000000.0,310216785000000.0,327906664000000.0,0.692385,0.946052,삼성전자,20220630
3,439326959000000.0,301743152000000.0,315290919000000.0,0.68683,0.957031,삼성전자,20220331
4,426621158000000.0,293064763000000.0,304899931000000.0,0.686944,0.961183,삼성전자,20211231
5,410420718000000.0,284826992000000.0,296766118000000.0,0.693988,0.959769,삼성전자,20210930
6,384777669000000.0,275085185000000.0,282324266000000.0,0.71492,0.974359,삼성전자,20210630
7,392826274000000.0,266066142000000.0,274268591000000.0,0.677312,0.970093,삼성전자,20210331
8,378235718000000.0,271068211000000.0,275948016000000.0,0.716665,0.982316,삼성전자,20201231
9,375788742000000.0,267024912000000.0,276136188000000.0,0.710572,0.967004,삼성전자,20200930
10,357959499000000.0,260165053000000.0,269807817000000.0,0.7268,0.964261,삼성전자,20200630
11,357457535000000.0,257078919000000.0,266387723000000.0,0.719187,0.965055,삼성전자,20200331
12,352564497000000.0,254582894000000.0,262880421000000.0,0.722089,0.968436,삼성전자,20191231
13,353385985000000.0,251761348000000.0,263442244000000.0,0.712426,0.955661,삼성전자,20190930
14,342940134000000.0,248060958000000.0,257747033000000.0,0.723336,0.96242,삼성전자,20190630
15,345067883000000.0,245401018000000.0,253215151000000.0,0.711167,0.96914,삼성전자,20190331
16,339357244000000.0,242698956000000.0,247753177000000.0,0.715172,0.9796,삼성전자,20181231
17,301752090000000.0,215811200000000.0,214491428000000.0,0.715194,1.006153,삼성전자,20171231
18,262174324000000.0,193086317000000.0,192963033000000.0,0.736481,1.000639,삼성전자,20161231

In [73]:
# 각 회사별 재무제표 데이터프레임을 하나의 데이터프레임으로 결합

combined_fin = pd.concat([sk_fin, samsungsdi_fin, samsungsds_fin, samsungelc_fin, lgdis_fin, lgelc_fin])

In [74]:
combined_fin

,자산총계,이익잉여금,자본총계,ROA,ROE,회사명,날짜
0,103871512000000.0,56685260000000.0,63290542000000.0,0.545725,0.895636,SK하이닉스,20221231
1,109545800000000.0,60232908000000.0,68723186000000.0,0.549842,0.876457,SK하이닉스,20220930
2,104147622000000.0,59346943000000.0,66760160000000.0,0.569835,0.888957,SK하이닉스,20220630
3,99466056000000.0,56692698000000.0,63398639000000.0,0.56997,0.894226,SK하이닉스,20220331
4,96346525000000.0,55784068000000.0,62191058000000.0,0.578994,0.896979,SK하이닉스,20211231
...,...,...,...,...,...,...,...
14,45867252000000.0,12447002000000.0,17094998000000.0,0.27137,0.728108,LG전자,20190630
15,45936704000000.0,12456700000000.0,16939675000000.0,0.271171,0.735356,LG전자,20190331
16,44328443000000.0,12075414000000.0,16306907000000.0,0.272408,0.740509,LG전자,20181231
17,41220959000000.0,10964155000000.0,14673684000000.0,0.265985,0.747199,LG전자,20171231
18,37855269000000.0,9233416000000.0,13356742000000.0,0.243914,0.691293,LG전자,20161231

In [75]:
# 상승/하락 데이터프레임으로 분리해줌

down_df = pd.merge(down,combined_fin,on=["회사명",'날짜'])
up_df = pd.merge(up,combined_fin,on=["회사명",'날짜'])

In [76]:
down_df

,회사명,날짜,5일전_종가,4일전_종가,3일전_종가,2일전_종가,1일전_종가,5일전_거래량,4일전_거래량,3일전_거래량,2일전_거래량,1일전_거래량,Either,종가,자산총계,이익잉여금,자본총계,ROA,ROE
0,삼성전자,20190331,0.02,-0.02,0.00,-0.01,-0.01,-0.05,0.32,-0.33,-0.23,0.40,0,37600.0,345067883000000.0,245401018000000.0,253215151000000.0,0.711167,0.96914
1,삼성전자,20190331,0.02,-0.04,-0.04,0.01,0.01,0.25,1.53,-0.15,-0.56,-0.05,0,44800.0,345067883000000.0,245401018000000.0,253215151000000.0,0.711167,0.96914
2,삼성전자,20190331,-0.02,0.01,0.01,-0.02,0.02,-0.44,0.04,0.12,0.35,0.31,0,46050.0,345067883000000.0,245401018000000.0,253215151000000.0,0.711167,0.96914
3,삼성전자,20190331,0.05,0.00,0.00,0.01,0.01,2.04,-0.69,-0.13,-0.07,0.73,0,45100.0,345067883000000.0,245401018000000.0,253215151000000.0,0.711167,0.96914
4,삼성전자,20190630,0.01,-0.01,0.00,0.00,-0.01,0.06,-0.39,-0.16,0.48,-0.31,0,45600.0,342940134000000.0,248060958000000.0,257747033000000.0,0.723336,0.96242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,LG디스플레이,20221231,-0.02,-0.01,0.00,0.07,0.03,-0.32,-0.37,0.01,1.54,-0.27,0,14250.0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351
396,LG디스플레이,20221231,0.03,-0.04,0.03,-0.01,-0.02,-0.27,-0.12,-0.15,-0.13,0.31,0,13400.0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351
397,LG디스플레이,20221231,-0.01,-0.02,-0.06,-0.01,-0.02,-0.13,0.31,0.47,-0.42,0.96,0,12450.0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351
398,LG디스플레이,20221231,0.00,0.08,-0.01,0.00,0.08,-0.26,2.19,-0.68,0.31,0.67,0,14650.0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351
399,LG디스플레이,20221231,0.01,0.00,-0.03,0.04,-0.02,-0.58,-0.44,0.13,0.53,-0.23,0,13400.0,35686019000000.0,5359769000000.0,11319227000000.0,0.150192,0.47351

In [77]:
# 종가 및 거래량 관련 부분은 큰 영향이 없다고 판단하여 제거하고 재무제표만을 이용하여 선형회귀 진행

down_x = down_df[["자산총계","이익잉여금","자본총계","ROA","ROE"]]
down_y = down_df["종가"]

In [78]:
X_train, X_test, y_train, y_test = train_test_split(down_x, down_y, test_size=0.2, random_state=42)

In [79]:
X_test

                  자산총계             이익잉여금              자본총계       ROA       ROE
209   77717897000000.0  49156421000000.0  54878014000000.0  0.632498   0.89574
280   54559798000000.0  14539535000000.0  20305124000000.0  0.266488  0.716053
33     8801403296612.0   4996636000701.0   6370368935047.0  0.567709  0.784356
210   83269048000000.0  52460405000000.0  58714446000000.0  0.630011  0.893484
93    19886909228403.0   6830318479970.0  12464269085684.0  0.343458  0.547992
..                 ...               ...               ...       ...       ...
246   45570152000000.0  12746687000000.0  17390671000000.0  0.279716  0.732961
227  104147622000000.0  59346943000000.0  66760160000000.0  0.569835  0.888957
369   38154515000000.0   8541521000000.0  14762501000000.0  0.223867  0.578596
176   67142787000000.0  42890187000000.0  48247724000000.0  0.638791  0.888958
289   55050923000000.0  15676888000000.0  21880321000000.0  0.284771  0.716483

[80 rows x 5 columns]

In [80]:
lr = LinearRegression()

In [81]:
# Fit a linear regression model to the training data
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [82]:
y_test_hat = lr.predict(X_test)
print(y_test)
print(y_test_hat)

209    122500.0
280    148000.0
33     211500.0
210    112500.0
93     248000.0
         ...
246     63300.0
227     91000.0
369     17450.0
176     87900.0
289    130000.0
Name: 종가, Length: 80, dtype: float64
[ 176443.10986332    8842.54601645  119066.03224848  192079.6589831
  359876.64169561  369020.14057917  145008.16564602  363537.85640802
  -42150.49599936  375580.1508666    92865.88310047  172808.19854492
  100931.04246536  369025.19987168  375580.1508666   114212.58598449
    8842.54601645  206239.17291896   20777.76640729  213129.21821836
  371200.10541069   92865.88310047  217092.4306907   -42150.49599936
  -32002.88180725  190203.45559527  377233.58799452  111120.65158037
  -42150.49599936  365627.00700036  190203.45559527  192542.47970205
  -55697.77808251  100931.04246536   20777.76640729  383166.62709656
  377233.58799452  154977.36637506  183790.39054908  360241.47615082
  213129.21821836   97153.50668023  371200.10541069   17294.81057376
  373861.80598307  213129.21821836  340351.14424863  190918.16809453
 -300908.60653742  190918.16809453  114212.58598449  127855.52938064
  154977.36637506  104677.65452871  206239.17291896  114212.58598449
  111120.65158037  190316.96645765  703767.31793858  340351.14424863
  375120.28462748  112873.90635308  -36675.59169387  371200.10541069
  367483.41403231  703767.31793858  152762.29974359  -42150.49599936
  217092.4306907   369025.19987168  127855.52938064  356218.29711846
  161801.27662548  114212.58598449  217092.4306907    22804.82005864
  111120.65158037  193905.57673123  190918.16809453   46275.82009927]

In [83]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# 회귀식 작성 후 predict 결과 회귀식이 설명력이 없어 무의미하다고 판단

print('performance for TEST--------')
print('test MAE : ', mean_absolute_error(y_test, y_test_hat))
print('test RMSE : ', mean_squared_error(y_test, y_test_hat)**0.5)
print('test R_square : ', r2_score(y_test, y_test_hat))

performance for TEST--------
test MAE :  149945.681318402
test RMSE :  186651.36312183173
test R_square :  0.03269628563570948

재무제표만으로도 설명이 부족하다고 판단하여 손익계산서를 추가하여 분석진행

<h1> 손익계산서 부분 추가

In [84]:
# 손익계산서 불러오기

samsungelc_is  = pd.read_excel("재무제표 관련/삼성전자_is_info.xlsx")

In [85]:
# 손익계산서의 경우 일정기간을 기준으로 하기 때문에 재무제표와 칼럼명이 다름
# 따라서 칼럼명을 일치시키고 구간또한 일치시키기 위한 작업을 진행함

# 3개월동안만의 손익을 판단하기 위해 10.31부터 12.31까지의 손익은 존재하지 않아 직접 계산해줌
samsungelc_is["20221231"] = samsungelc_is["20220101-20221231"]-samsungelc_is["20220101-20220930"]
samsungelc_is["20211231"] = samsungelc_is["20210101-20211231"]-samsungelc_is["20210101-20210930"]
samsungelc_is["20201231"] = samsungelc_is["20200101-20201231"]-samsungelc_is["20200101-20200930"]
samsungelc_is["20191231"] = samsungelc_is["20190101-20191231"]-samsungelc_is["20190101-20190930"]

# 구간으로 되어있는 칼럼을 재무제표 표현과 동일하게 변경
samsungelc_is = samsungelc_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})

# 필요없는 칼럼 제거
samsungelc_is = samsungelc_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
samsungelc_is = samsungelc_is.transpose()

# 첫번째 row를 칼럼명으로 지정
header = samsungelc_is.iloc[0]
samsungelc_is = samsungelc_is[1:]
samsungelc_is.rename(columns=header, inplace=True)

samsungelc_is['날짜'] = samsungelc_is.index
samsungelc_is['날짜'] = samsungelc_is['날짜'].astype(int)
samsungelc_is = samsungelc_is.reset_index(drop=True)
# 각 회사별 계정과목의 이름 통일
samsungelc_is = samsungelc_is.rename(columns={'기본주당이익(손실)':'기본주당이익', '수익(매출액)':'매출액'})

# 회사명 추가
samsungelc_is['회사명'] = '삼성전자'

In [86]:
samsungelc_is

               매출액 기본주당이익        날짜   회사명
0   76781680000000   1346  20220930  삼성전자
1   77203607000000   1613  20220630  삼성전자
2   77781498000000   1638  20220331  삼성전자
3   73979187000000   1776  20210930  삼성전자
4   63671585000000   1391  20210630  삼성전자
5   65388503000000   1044  20210331  삼성전자
6   66964160000000   1364  20200930  삼성전자
7   52966142000000    808  20200630  삼성전자
8   55325178000000    720  20200331  삼성전자
9   62003471000000    899  20190930  삼성전자
10  56127104000000    746  20190630  삼성전자
11  52385546000000    752  20200331  삼성전자
12  70464575000000   3460  20221231  삼성전자
13  76565524000000   1566  20211231  삼성전자
14  61551508000000    949  20201231  삼성전자
15  59884760000000    770  20191231  삼성전자

<h2>재무제표 과정 또한 위의 과정과 동일하여 주석 생략하고 진행하였습니다.

In [87]:
samsungsds_is  = pd.read_excel("재무제표 관련/삼성에스디에스_is_info.xlsx")

samsungsds_is["20221231"] = samsungsds_is["20220101-20221231"]-samsungsds_is["20220101-20220930"]
samsungsds_is["20211231"] = samsungsds_is["20210101-20211231"]-samsungsds_is["20210101-20210930"]
samsungsds_is["20201231"] = samsungsds_is["20200101-20201231"]-samsungsds_is["20200101-20200930"]
samsungsds_is["20191231"] = samsungsds_is["20190101-20191231"]-samsungsds_is["20190101-20190930"]
samsungsds_is = samsungsds_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})
samsungsds_is = samsungsds_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
samsungsds_is = samsungsds_is.transpose()

header = samsungsds_is.iloc[0]
samsungsds_is = samsungsds_is[1:]
samsungsds_is.rename(columns=header, inplace=True)

samsungsds_is['날짜'] = samsungsds_is.index
samsungsds_is['날짜'] = samsungsds_is['날짜'].astype(int)
samsungsds_is = samsungsds_is.reset_index(drop=True)
samsungsds_is = samsungsds_is.rename(columns={'보통주 기본주당이익':'기본주당이익'})

samsungsds_is['회사명'] = '삼성에스디에스'

In [88]:
samsungsds_is

              매출액 기본주당이익        날짜      회사명
0   4198077332988   5056  20220930  삼성에스디에스
1   4595178210292   3455  20220630  삼성에스디에스
2   4191498112057   2554  20220331  삼성에스디에스
3   3381259142965   2490  20210930  삼성에스디에스
4   3250875938369   2058  20210630  삼성에스디에스
5   3061308383774   2017  20210331  삼성에스디에스
6   2968199978215   2034  20200930  삼성에스디에스
7   2566606362760   1864  20200630  삼성에스디에스
8   2436078896356   -386  20200331  삼성에스디에스
9   2658395704779   1996  20190930  삼성에스디에스
10  2776081029227   2451  20190630  삼성에스디에스
11  2502458198025   1810  20200331  삼성에스디에스
12  4249995882325   3153  20221231  삼성에스디에스
13  3936558973816   1336  20211231  삼성에스디에스
14  3046546288186   2221  20201231  삼성에스디에스
15  2782696872135   3264  20191231  삼성에스디에스

In [89]:
samsungsdi_is  = pd.read_excel("재무제표 관련/삼성SDI_is_info.xlsx")

samsungsdi_is["20221231"] = samsungsdi_is["20220101-20221231"]-samsungsdi_is["20220101-20220930"]
samsungsdi_is["20211231"] = samsungsdi_is["20210101-20211231"]-samsungsdi_is["20210101-20210930"]
samsungsdi_is["20201231"] = samsungsdi_is["20200101-20201231"]-samsungsdi_is["20200101-20200930"]
samsungsdi_is["20191231"] = samsungsdi_is["20190101-20191231"]-samsungsdi_is["20190101-20190930"]
samsungsdi_is = samsungsdi_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})
samsungsdi_is = samsungsdi_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
samsungsdi_is = samsungsdi_is.transpose()

header = samsungsdi_is.iloc[0]
samsungsdi_is = samsungsdi_is[1:]
samsungsdi_is.rename(columns=header, inplace=True)

samsungsdi_is['날짜'] = samsungsdi_is.index
samsungsdi_is['날짜'] = samsungsdi_is['날짜'].astype(int)
samsungsdi_is = samsungsdi_is.reset_index(drop=True)
samsungsdi_is = samsungsdi_is.rename(columns={'보통주 기본및희석주당손익':'기본주당이익'})

samsungsdi_is['회사명'] = '삼성SDI'

In [90]:
samsungsdi_is

              매출액 기본주당이익        날짜    회사명
0   5367961148872   9016  20220930  삼성SDI
1   4740773127096   5852  20220630  삼성SDI
2   4049426948561   5332  20220331  삼성SDI
3   3439792617779   5911  20210930  삼성SDI
4   3334269868460   4109  20210630  삼성SDI
5   2963210903981   2007  20210331  삼성SDI
6   3087240977278   3335  20200930  삼성SDI
7   2558614011125    649  20200630  삼성SDI
8   2397530029531   -143  20200331  삼성SDI
9   2567937571530   3116  20190930  삼성SDI
10  2404505708738   2221  20190630  삼성SDI
11  2304063855366    750  20200331  삼성SDI
12  5965908291325   8991  20221231  삼성SDI
13  3815946858576   5465  20211231  삼성SDI
14  3251385428101   4753  20201231  삼성SDI
15  2820919028498   -757  20191231  삼성SDI

In [91]:
sk_is  = pd.read_excel("재무제표 관련/SK하이닉스_is_info.xlsx")

sk_is["20221231"] = sk_is["20220101-20221231"]-sk_is["20220101-20220930"]
sk_is["20211231"] = sk_is["20210101-20211231"]-sk_is["20210101-20210930"]
sk_is["20201231"] = sk_is["20200101-20201231"]-sk_is["20200101-20200930"]
sk_is["20191231"] = sk_is["20190101-20191231"]-sk_is["20190101-20190930"]
sk_is = sk_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})
sk_is = sk_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
sk_is = sk_is.transpose()

header = sk_is.iloc[0]
sk_is = sk_is[1:]
sk_is.rename(columns=header, inplace=True)

sk_is['날짜'] = sk_is.index
sk_is['날짜'] = sk_is['날짜'].astype(int)
sk_is = sk_is.reset_index(drop=True)
sk_is = sk_is.rename(columns={'기본주당순이익':'기본주당이익'})

sk_is['회사명'] = 'SK하이닉스'

In [92]:
sk_is

               매출액 기본주당이익        날짜     회사명
0   10982883000000   1609  20220930  SK하이닉스
1   13811001000000   4176  20220630  SK하이닉스
2   12155653000000   2878  20220331  SK하이닉스
3   11805324000000   4815  20210930  SK하이닉스
4   10321671000000   2891  20210630  SK하이닉스
5    8494188000000   1448  20210331  SK하이닉스
6    8128767000000   1585  20200930  SK하이닉스
7    8606534000000   1855  20200630  SK하이닉스
8    7198892000000    925  20200331  SK하이닉스
9    6838766000000    721  20190930  SK하이닉스
10   6452201000000    783  20190630  SK하이닉스
11   6772655000000   1612  20200331  SK하이닉스
12   7672031000000  -5421  20221231  SK하이닉스
13  12376609000000   4826  20211231  SK하이닉스
14   7966225000000   2587  20201231  SK하이닉스
15   6927111000000   -183  20191231  SK하이닉스

In [93]:
lgelc_is  = pd.read_excel("재무제표 관련/LG전자_is_info.xlsx")

lgelc_is["20221231"] = lgelc_is["20220101-20221231"]-lgelc_is["20220101-20220930"]
lgelc_is["20211231"] = lgelc_is["20210101-20211231"]-lgelc_is["20210101-20210930"]
lgelc_is["20201231"] = lgelc_is["20200101-20201231"]-lgelc_is["20200101-20200930"]
lgelc_is["20191231"] = lgelc_is["20190101-20191231"]-lgelc_is["20190101-20190930"]
lgelc_is = lgelc_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})
lgelc_is = lgelc_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
lgelc_is = lgelc_is.transpose()

header = lgelc_is.iloc[0]
lgelc_is = lgelc_is[1:]
lgelc_is.rename(columns=header, inplace=True)

lgelc_is['날짜'] = lgelc_is.index
lgelc_is['날짜'] = lgelc_is['날짜'].astype(int)
lgelc_is = lgelc_is.reset_index(drop=True)
lgelc_is = lgelc_is.rename(columns={'보통주기본주당이익(손실)':'기본주당이익'})

lgelc_is['회사명'] = 'LG전자'

In [94]:
lgelc_is

               매출액 기본주당이익        날짜   회사명
0   21176765000000    682  20220930  LG전자
1   19464043000000   1070  20220630  LG전자
2   21111389000000   6811  20220331  LG전자
3   18567513000000   2137  20210930  LG전자
4   16932211000000  -2168  20210630  LG전자
5   17812402000000   5543  20210331  LG전자
6   15398581000000   3476  20200930  LG전자
7   11528786000000    312  20200630  LG전자
8   14727803000000   5694  20200331  LG전자
9   15700645000000   1355  20190930  LG전자
10  15629264000000    508  20190630  LG전자
11  14915064000000   3169  20200331  LG전자
12  21857508000000  -1923  20221231  LG전자
13  20775121000000    213  20211231  LG전자
14  16517382000000   1444  20201231  LG전자
15  10190730000000  -4863  20191231  LG전자

In [95]:
lgdis_is  = pd.read_excel("재무제표 관련/LG디스플레이_is_info.xlsx")

lgdis_is["20221231"] = lgdis_is["20220101-20221231"]-lgdis_is["20220101-20220930"]
lgdis_is["20211231"] = lgdis_is["20210101-20211231"]-lgdis_is["20210101-20210930"]
lgdis_is["20201231"] = lgdis_is["20200101-20201231"]-lgdis_is["20200101-20200930"]
lgdis_is["20191231"] = lgdis_is["20190101-20191231"]-lgdis_is["20190101-20190930"]
lgdis_is = lgdis_is.rename(columns={'20220701-20220930':20220930,'20220401-20220630':20220630,"20220101-20220331":20220331,
                                              '20210701-20210930':20210930,'20210401-20210630':20210630,"20210101-20210331":20210331,
                                              '20200701-20200930':20200930,'20200401-20200630':20200630,"20200101-20200331":20200331,
                                              '20190701-20190930':20190930,'20190401-20190630':20190630,"20190101-20190331":20200331,})
lgdis_is = lgdis_is.drop(['20180401-20180630','20180101-20181231','20180101-20180930','20180101-20180630','20180701-20180930','20180101-20180331','20170101-20171231','20160101-20161231','20190101-20191231','20190101-20190930','20190101-20190630','20200101-20201231','20200101-20200930','20200101-20200630','20210101-20211231','20210101-20210930','20210101-20210630','20220101-20221231','20220101-20220930','20220101-20220630'], axis=1)
lgdis_is = lgdis_is.transpose()

header = lgdis_is.iloc[0]
lgdis_is = lgdis_is[1:]
lgdis_is.rename(columns=header, inplace=True)

lgdis_is['날짜'] = lgdis_is.index
lgdis_is['날짜'] = lgdis_is['날짜'].astype(int)
lgdis_is = lgdis_is.reset_index(drop=True)
lgdis_is = lgdis_is.rename(columns={'매출':'매출액','기본주당이익(손실)':'기본주당이익'})

lgdis_is['회사명'] = 'LG디스플레이'

In [96]:
lgdis_is

              매출액 기본주당이익        날짜      회사명
0   6771355000000  -2206  20220930  LG디스플레이
1   5607318000000  -1131  20220630  LG디스플레이
2   6471480000000     56  20220331  LG디스플레이
3   7223196000000   1173  20210930  LG디스플레이
4   6965570000000   1015  20210630  LG디스플레이
5   6882761000000    638  20210331  LG디스플레이
6   6737646000000     85  20200930  LG디스플레이
7   5307021000000  -1367  20200630  LG디스플레이
8   4724249000000   -556  20200331  LG디스플레이
9   5821681000000  -1172  20190930  LG디스플레이
10  5353410000000  -1533  20190630  LG디스플레이
11  5878781000000   -170  20200331  LG디스플레이
12  7301628000000  -5303  20221231  LG디스플레이
13  8806516000000    488  20211231  LG디스플레이
14  7492645000000   1573  20201231  LG디스플레이
15  6421695000000  -5033  20191231  LG디스플레이

In [97]:
# 각 회사별 손익계산서 데이터프레임을 하나의 데이터프레임을 결합

combined_is = pd.concat([sk_is, samsungsdi_is, samsungsds_is, samsungelc_is, lgdis_is, lgelc_is])

In [98]:
combined_is

               매출액 기본주당이익        날짜     회사명
0   10982883000000   1609  20220930  SK하이닉스
1   13811001000000   4176  20220630  SK하이닉스
2   12155653000000   2878  20220331  SK하이닉스
3   11805324000000   4815  20210930  SK하이닉스
4   10321671000000   2891  20210630  SK하이닉스
..             ...    ...       ...     ...
11  14915064000000   3169  20200331    LG전자
12  21857508000000  -1923  20221231    LG전자
13  20775121000000    213  20211231    LG전자
14  16517382000000   1444  20201231    LG전자
15  10190730000000  -4863  20191231    LG전자

[96 rows x 4 columns]

In [99]:
# 상승/하락 데이터프레임으로 분리해줌

down_df = pd.merge(down_df,combined_is,on=["회사명",'날짜'])
up_df = pd.merge(up_df,combined_is,on=["회사명",'날짜'])

하강 데이터 먼저 분석

In [100]:
# 선형회귀에 사용할 칼럼만 추출
down_x = down_df[["자산총계", "이익잉여금", "자본총계", "ROA", "ROE",'매출액','기본주당이익']]
down_y = down_df["종가"]

# 데이터 split 진행
X_train, X_test, y_train, y_test = train_test_split(down_x, down_y, test_size=0.2, random_state=42)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_test_hat = lr.predict(X_test)
print(y_test)
print(y_test_hat)

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print('performance for TEST--------')
print('test MAE : ', mean_absolute_error(y_test, y_test_hat))
print('test RMSE : ', mean_squared_error(y_test, y_test_hat) ** 0.5)
print('test R_square : ', r2_score(y_test, y_test_hat))
print("lr.coef_:", lr.coef_)
print("lr.intercept_:", lr.intercept_)

395     23400.0
78     150000.0
278     48000.0
305    166000.0
325    119000.0
         ...
57     152000.0
137    615000.0
24      45800.0
17      47300.0
66     157000.0
Name: 종가, Length: 88, dtype: float64
[ 139735.41863854  121298.450604    117591.49344213 -110116.61960158
   87575.4284196     2654.44528624  146342.60014617  166773.6230778
  -32911.49189218  161166.07945335    2654.44528624  142140.16667527
  107732.81286011  139735.41863854  448897.31413529  142140.16667527
   77222.46232645  146126.67791179  142140.16667527  445844.93611825
   33711.4047387   136893.2099822  -238848.69177803  146767.40418234
  288594.15790386  339581.3388739   148060.18907083   91897.8842887
  110819.33916679  146964.97729983  110819.33916679  105438.49311738
  136931.70181182   60856.91932145   73389.43314718  143927.76847067
  122326.23488028  257601.53422859  174291.54624576    2654.44528624
   50670.0860247   339581.3388739   176782.17424886  121298.450604
  448897.31413529  -79258.79394678  448897.31413529  150664.17649601
  142140.16667527  159276.30350487   73389.43314718   33711.4047387
  175613.75049222  427803.67363643   80222.3720705    33711.4047387
  117591.49344213  121962.26318505   70714.49095153  167036.94784881
  -37123.24860637  379012.42795745   84758.35516617   22896.97759763
   22896.97759763  105438.49311738   82348.75525923  110819.33916679
   54188.60137458  257601.53422859  158207.95053096  558058.05530693
   73389.43314718  146767.40418234   60856.91932145  381767.20955405
  150664.17649601   32954.70703204   70714.49095153  347667.83444877
  100060.99295436  287345.38945345   77222.46232645  146964.97729983
  414731.91581723   82348.75525923   33711.4047387   145212.24953892]
performance for TEST--------
test MAE :  76794.82523115288
test RMSE :  103954.47461022968
test R_square :  0.6281402479417397
lr.coef_: [-1.04608936e-08 -2.42372287e-08  3.74805597e-08 -2.23267358e+05
 -2.34186097e+05  1.20526620e-10  3.47188005e+01]
lr.intercept_: 373707.45578382513

In [101]:
training_r2 = []
test_r2 = []

alpha_settings = [0, 0.1, 1, 10]
for alpha in alpha_settings:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)

    y_train_hat = ridge.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = ridge.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=2.09677e-32): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=3.26072e-32): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=1.37693e-31): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=1.20055e-30): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

In [102]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2})

   alpha  training R2   test R2
0    0.0     0.712492  0.653261
1    0.1     0.702603  0.667978
2    1.0     0.655717  0.646002
3   10.0     0.618170  0.619688

In [103]:
training_r2 = []
test_r2 = []
num_vars_used = []

alpha_settings = [0.0001, 0.001, 0.01, 0.1, 1]
for alpha in alpha_settings:
    lasso = Lasso(alpha=alpha)
    lasso.fit(X_train, y_train)

    num_vars_used.append(sum(lasso.coef_ != 0))

    y_train_hat = lasso.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = lasso.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.801e+12, tolerance: 1.243e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.801e+12, tolerance: 1.243e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.801e+12, tolerance: 1.243e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.801e+12, tolerance: 1.243e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.802e+12, tolerance: 1.243e+09
  model = cd_fast.enet_coordinate_descent(

In [104]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2, "variables used": num_vars_used})

    alpha  training R2   test R2  variables used
0  0.0001     0.710313  0.659178               7
1  0.0010     0.710313  0.659178               7
2  0.0100     0.710313  0.659179               7
3  0.1000     0.710311  0.659183               7
4  1.0000     0.710299  0.659232               7

상승 데이터 분석 진행

In [105]:
# 선형회귀에 사용할 칼럼만 추출
up_x = up_df[["자산총계", "이익잉여금", "자본총계", "ROA", "ROE",'매출액','기본주당이익']]
up_y = up_df["종가"]

# 데이터 split 진행
X_train, X_test, y_train, y_test = train_test_split(up_x, up_y, test_size=0.2, random_state=42)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_test_hat = lr.predict(X_test)
print(y_test)
print(y_test_hat)

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print('performance for TEST--------')
print('test MAE : ', mean_absolute_error(y_test, y_test_hat))
print('test RMSE : ', mean_squared_error(y_test, y_test_hat) ** 0.5)
print('test R_square : ', r2_score(y_test, y_test_hat))
print("lr.coef_:", lr.coef_)
print("lr.intercept_:", lr.intercept_)

78     147000.0
439     14850.0
152    793000.0
281     68200.0
394     15150.0
         ...
185     69800.0
57     177000.0
422     25800.0
24      88800.0
17      56400.0
Name: 종가, Length: 89, dtype: float64
[ 252036.43533383    4121.77415892  463386.33595329   66723.1169749
  201289.38975105  201289.38975105  236745.81856244  291842.6634049
  184746.9881211   201289.38975105  106352.30730043  177273.9467237
  380709.99771298  291842.6634049   227599.06290229  143118.17211186
  197048.22062735   92154.6684015   199790.18947865  336404.80719624
   22716.88508866  154014.20863187  -59218.06153716   66723.1169749
    4121.77415892  429806.33370729  122585.5471663   143118.17211186
  423325.1875435    66723.1169749    84964.76810479  197048.22062735
  291842.6634049   199492.55819083  198799.71734383  172442.50002813
  294119.04212766  161022.5855549   437570.29146477  154014.20863187
  197048.22062735  294119.04212766  423325.1875435   168889.61967256
  433788.8875192   177273.9467237   139047.3299261     4121.77415892
  199492.55819083  252036.43533383  122585.5471663    42063.57702615
  172442.50002813   63642.93642803  437570.29146477  534613.02142166
   71160.17199044  -87706.10186502  199492.55819083  134176.27924962
  198799.71734383  -30274.10343865  134176.27924962   89036.51534746
  134176.27924962  308535.83973905   91395.26064139  136984.94058825
 -196891.3468582   135537.72706219  106352.30730043  429806.33370729
  243535.73930571  135077.04576969  248486.05257694   43986.00346594
  534613.02142166  380709.99771298  134176.27924962  -87706.10186502
  200928.56940516   91395.26064139   92154.6684015     4121.77415892
  135077.04576969  198799.71734383  160991.66083554 -196891.3468582
    4759.85254014]
performance for TEST--------
test MAE :  88148.63312183715
test RMSE :  120663.26659505814
test R_square :  0.6458307652502869
lr.coef_: [-9.67716474e-09 -9.34429148e-09  2.15145933e-08 -2.42940865e+05
 -2.63139631e+05  1.43007561e-09  3.30267496e+01]
lr.intercept_: 481802.07212342997

In [106]:
training_r2 = []
test_r2 = []

alpha_settings = [0, 0.1, 1, 10]
for alpha in alpha_settings:
    ridge = Ridge(alpha=alpha)
    ridge.fit(X_train, y_train)

    y_train_hat = ridge.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = ridge.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=2.16417e-32): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=3.20707e-32): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=1.26355e-31): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:212: LinAlgWarning: Ill-conditioned matrix (rcond=1.08626e-30): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

In [107]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2})

   alpha  training R2   test R2
0    0.0     0.641540  0.736936
1    0.1     0.635265  0.721351
2    1.0     0.599733  0.662210
3   10.0     0.560796  0.590126

In [130]:
from sklearn.linear_model import Lasso

training_r2 = []
test_r2 = []
num_vars_used = []

alpha_settings = [0.0001, 0.001, 0.01, 0.1, 1]
for alpha in alpha_settings:
    lasso = Lasso(alpha=alpha)
    lasso.fit(X_train, y_train)

    num_vars_used.append(sum(lasso.coef_ != 0))

    y_train_hat = lasso.predict(X_train)
    training_r2.append(r2_score(y_train, y_train_hat))

    y_test_hat = lasso.predict(X_test)
    test_r2.append(r2_score(y_test, y_test_hat))

C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.315e+12, tolerance: 1.290e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.315e+12, tolerance: 1.290e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.315e+12, tolerance: 1.290e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.315e+12, tolerance: 1.290e+09
  model = cd_fast.enet_coordinate_descent(
C:\Users\msi\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.316e+12, tolerance: 1.290e+09
  model = cd_fast.enet_coordinate_descent(

In [131]:
pd.DataFrame({"alpha":alpha_settings, "training R2": training_r2, "test R2": test_r2, "variables used": num_vars_used})

    alpha  training R2   test R2  variables used
0  0.0001     0.641204  0.736350               7
1  0.0010     0.641203  0.736350               7
2  0.0100     0.641203  0.736350               7
3  0.1000     0.641203  0.736348               7
4  1.0000     0.641197  0.736326               7

이전보다는 R^{2}가 매우 크게 상승하였음, 다만  "자산총계","이익잉여금", "자본총계", "ROA", "ROE", '매출액', '기본주당이익'은 분기마다 알 수 있기 때문에 기존에 목적이였던 하루 전날 주가 예측은 어렵다는 것을 파악함.